// utlitiy to create flex column
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// utlitiy to create flex row
.flex-row {
  display: flex;
  column-gap: 2rem;
  margin: 0 auto;
  max-width: 960px;

      @media (max-width: 960px) {
        flex-direction: column;
      }
}

// creates four equal columns
.flex-row--fourth {
  flex-basis: 25%
}

// accessible web page demo styles
.container {
  border-bottom: 1px solid var(--magentaa11y-color-brand-grayscale-400);
  margin: 3rem auto;
  padding: 0 2rem 3rem;
  width: 100%;
}

.h-bravo {
  font-size: 1.875rem;
  margin-bottom: 2rem;
}

.h-charlie {
  font-size: 1.25rem;
  font-weight: var( --magentaa11y-font-weight-extrabold);
}

.h-delta {
  font-size: 1.125rem;
  font-weight: var( --magentaa11y-font-weight-extrabold);
}

// add sufficient touch target size to summary and button elements
.hero {
  background: url("../../../public/content/assets/media/images/how-to-test/assistive-technology-bg.png") no-repeat center center;
  background-size: cover !important;
  padding: 3rem 2rem;
  width: 100%;

    .flex-row {
      margin: 0 auto;
      max-width: 960px;
    }

    .h-alpha, .h-bravo, .h-delta, .MagentaA11y__nav-display__subtitle {
      color: var(--footer-text-color);
      font-weight: bold;
    }

    .h-alpha {
      font-size: var(--magentaa11y-font-size-40);
      line-height: 50px;
      margin: 0 0 1rem;
    }

    .h-bravo {
      font-size: var(--magentaa11y-font-size-48);
      margin: 2rem 0 1rem;
    }


    .h-delta {
      font-size: var(--magentaa11y-font-size-20);
      margin: 2rem 0 1rem;
      line-height: 1.2;
    }
}

.text-center {
    text-align: center;
}

.icon {
  height: 2rem;
  width: 2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: .25rem;
}

.icon-large {
  height: 64px;
  width: 64px;
}

  /* stylelint-disable no-duplicate-selectors */
  @media (prefers-color-scheme: dark) {
    .icon {
      filter: invert(100%) hue-rotate(180deg);
    }
  }

.questions-survey-container {
  margin: 0 auto;
  max-width: 38rem;

}

.accessible-summary {
  details {
    background: var(--color-text-on-primary);
    border: 1px solid var(--magentaa11y-color-brand-grayscale-400);
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0 0 0 / 10%);;  
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: left;
  }

  summary  {
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details summary {
    position: relative;
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    padding: 1rem .5rem 1rem 0;
    border-radius: 1rem;
    font-size: 1.25rem;
    line-height: 1.2;
    cursor: pointer;
  }

  details summary::before {
    content:'';
    background: url("../../assets/svgs/chevron-down.svg") no-repeat center center;
    display: block;
    position: relative;
    justify-self: center;
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 2rem;
    background-color: var(--color-text-on-primary);
    opacity: 1;
    background-size: 1.25rem 1.25rem;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.1s ease-in-out;
  }

  details summary:hover::before, 
  details summary:focus-visible::before {
    border: 2px solid var(--color-primary);
  }

  details[open] summary::before {
    content: '';
    background-position: center center;
    transform: rotate(-180deg);
  }

  details[open] summary {
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid var(--color-text-disabled);
    margin-bottom: 1rem;
    background-position: 10% center;
    transition: background 0.1s;
  }

  details:not([open]) summary:active, 
  details[open] summary:active {
    background-color: var(--color-background-tertiary);
    background-size: 100%;
    transition: all 0.1s;
  }

  th, td {
    text-align: center;
  }

  @media (prefers-color-scheme: dark) {
    details summary::before, 
    details summary::before {
      background-color: var(--color-text-primary);
    }
  }
}

// form styles
form {
  border-radius: 1rem;
  background: var(--color-background);
  box-shadow: 0 0.5rem 0.75rem 0 var(--color-background-secondary), 0 0 1rem 0 var(--color-background-tertiary);  
  margin: 2rem 0;
}

.legend {
    border-bottom: 1px dotted var(--color-surface-container-high);
    font-family: teleneo-xtra-bold, sans-serif;
    font-size: 1.25rem;
    margin: 0;
    position: relative;
    padding: 1.5rem 1rem;
    width: 100%;
}

fieldset {
  margin-bottom: 1rem;
}

.fieldset {
    border: none;
    padding: 0;    
    position: relative;
    transition: .8s;

    & .Magentaa11y-button {
      margin: 1rem 1rem 2rem;
    }
}

input[type="radio"] {
  position: absolute;
  left: 0;
  width: 1px;
  height: 40px;
  line-height: 40px;
  clip: rect(1px, 1px, 1px, 1px);
  margin: 0 0 0 0%;
  padding: 0 0 0 0%;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-width: 0 !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
}

.radio+.label::before {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  position: relative;
  top: 0;
  left: 0;
  justify-self: center;
  background: var(--color-background-secondary);
  transition: .4s;
  box-shadow: inset 0 0 0 0.25rem var(--color-on-tertiary), inset 0 0 0 0.5rem transparent, 0 0 0 0.5rem var(--color-background);
}

.radio+.label{
  align-items: center;
  background-position: 10% center;
  color: var(--color-text-primary);
  cursor: pointer;
  display: grid;
  grid-template-columns: 4rem 1fr;
  line-height: 1;
  margin: 0;
  padding: 1rem .5rem 1rem 0;
  position: relative;
  transition: background .8s;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
 }

 .radio:checked + .label {
  background-color: var(--color-background-secondary); /* Light selection background */
  border: 2px solid var(--color-on-surface-variant);
}

.radio:checked + .label::before {
    background-color:var(--color-primary);
    box-shadow: var(--color-primary) 0 0 0 0.25rem inset, var(--color-text-on-primary) 0 0 0 0.5rem inset, var(--color-background-tertiary) 0 0 0 0;
    transition: all;
}

/* adding back focus, making up for the input being hidden */
.radio:focus + .label {
  box-shadow: 0 0 0 3px #4a90e2, 
              0 0 0 5px var(--color-text-on-primary);
}

.error {
    color: var(--color-error-container);
    padding-left: 1rem;
    
    svg {
        fill: var(--color-error-container);
        margin-right: 0.5rem;
        vertical-align: middle;
    }
}