{% if page.categories contains category %}
{% capture top %}
How to test {% assign firstLetter = page.title | downcase | slice: 0 %}{% if firstLetter == 'a' or firstLetter== 'e' or firstLetter== 'i' or firstLetter== 'i' or firstLetter== 'u'  %}an{% else %}a{% endif %} {{ page.title | escape | downcase }}

1. Test with the keyboard
{% for action in page.keyboard %}- {{ action[0] | capitalize }}: {{ action[1] | escape }}{% endfor %}
2. Test mobile screenreader
{% for gesture in page.mobile %}- {{ gesture[0] | capitalize }}: {{ gesture[1] | escape }}{% endfor %}
3. Listen for screenreader output
{% for output in page.screenreader %}- {{ output[0] | capitalize }}: {{ output[1] | escape }}{% endfor %}
{% endcapture %}
{% capture all %}
{{ top | strip | lstrip }}

Full information: {{ page.url | absolute_url | replace: '.html', '/' }}
{% endcapture %}
<li class="input-checkbox-item flex-item">
  <input type="checkbox" id="{{ category | escape }}-{{ page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '' }}" data-success-criteria="
{{ all | strip | lstrip }}
">
  <label for="{{ category | escape }}-{{ page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '' }}">
    {{ page.title | escape }}
  </label>
  <a class="checklist-link" href="{{ page.url | relative_url }}">
    <span class="hidden">
    {{ page.title | escape }}
    </span>
  </a>
</li>
{% endif %}