{% if page.categories contains category %}
{% capture condensed %}
How to test {% assign firstLetter = page.title | downcase | slice: 0 %}{% if firstLetter == 'a' or firstLetter== 'e' or firstLetter== 'i' or firstLetter== 'i' or firstLetter== 'u'  %}an{% else %}a{% endif %} {{ page.title | escape | downcase }}

1. Test keyboard{% unless page.url contains "native" %} only, then screen reader + keyboard{% endunless %} actions
{% for action in page.keyboard %}- {{ action[0] | capitalize }}: {{ action[1] | escape }}{% endfor %}
2. Test mobile screenreader gestures
{% for gesture in page.mobile %}- {{ gesture[0] | capitalize }}: {{ gesture[1] | escape }}{% endfor %}
3. Listen to screenreader output on all devices
{% for output in page.screenreader %}- {{ output[0] | capitalize }}: {{ output[1] | escape }}{% endfor %}
{% if page.settings and page.settings != "" -%}
4. Device OS settings
{% for output in page.settings %}- {{ output[0] | capitalize }}: {{ output[1] | escape }}{% endfor %}
{% endif %}
{% endcapture %}

{% capture condensed-clean %}
{{ condensed | strip | lstrip }}

Full information: {{ page.url | absolute_url | replace: '.html', '/' }}
{% endcapture %}

{% capture gherkin %}
How to test {% assign firstLetter = page.title | downcase | slice: 0 %}{% if firstLetter == 'a' or firstLetter== 'e' or firstLetter== 'i' or firstLetter== 'i' or firstLetter== 'u'  %}an{% else %}a{% endif %} {{ page.title | escape | downcase }}

GIVEN THAT I am on a page with {% if firstLetter == 'a' or firstLetter== 'e' or firstLetter== 'i' or firstLetter== 'i' or firstLetter== 'u' %}an{% else %}a{% endif %} {{ page.title | escape | downcase }}

1 - Keyboard for mobile &amp; desktop
{% for action in page.gherkin-keyboard limit:1 -%}
- WHEN I use {{ action.when | strip_newlines }} I SEE {{ action.result | strip_newlines }}
{%- endfor %}
{% for action in page.gherkin-keyboard offset:1 -%}
  - {{ action.first[0] | upcase  }} when I use {{ action.first[1] | strip_newlines | strip_html }} I SEE {{ action.result | strip_newlines | strip_html }}
{% endfor %}
2 - Desktop screenreader
{% for action in page.gherkin-keyboard limit:1 -%}
- WHEN I use a desktop screenreader (NVDA, JAWS, VoiceOver) AND 
{% for action in page.gherkin-keyboard limit:1 -%}
- I use {{ action.when | strip_newlines }}
{%- for requirement in page.screenreader %}
  - I HEAR {{ requirement[1] | escape | strip_newlines }}
{%- endfor -%}
{% endfor -%}
{% endfor -%}
{% for action in page.gherkin-keyboard offset:1 %}
- {{ action.first[0] | upcase  }} when I use {{ action.first[1] | strip_newlines | strip_html }} I HEAR {{ action.result | strip_newlines | strip_html }}
{%- endfor %}

3 - Mobile screenreader
{% for action in page.gherkin-mobile limit:1 -%}
- WHEN I use a mobile screenreader (Talkback, VoiceOver) AND
{%- for action in page.gherkin-mobile limit:1 %}
- I {{ action.when | strip_newlines }}
{%- for requirement in page.screenreader %}
  - I HEAR {{ requirement[1] | escape | strip_newlines }}
{%- endfor -%}
{% endfor -%}
{% endfor -%}
{% for action in page.gherkin-mobile offset:1 %}
{% if action and action != "" %}- {{ action.first[0] | upcase  }} when I {{ action.first[1] | strip_newlines | strip_html }} I HEAR {{ action.result | strip_newlines | strip_html }}{% endif -%}
{%- endfor %}
{% endcapture %}


{% capture gherkin-clean %}
{{ gherkin | strip | lstrip  }}

Full information: {{ page.url | absolute_url | replace: '.html', '/' }}
{% endcapture %}

<li class="input-checkbox-item">
  <input type="checkbox" class="criteria-checkbox" id="{{ category | escape }}-{{ page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '' }}" 
data-condensed-criteria="
{{ condensed-clean | strip | lstrip }}"
data-gherkin-criteria="
{{ gherkin-clean | strip | lstrip }}">
  <label for="{{ category | escape }}-{{ page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '' }}">
    {{ page.title | escape }}
  </label>
  <div class="checkbox-item-controls">
    <input class="favorite" type="checkbox" id="favorite-{{ category | escape }}-{{ page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '' }}">
    <label for="favorite-{{ category | escape }}-{{ page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '' }}">
      <span class="hidden">Add {{ page.title | escape }} to favorites</span>
    </label>
    <a class="checklist-link" href="{{ page.url | relative_url }}">
      <span class="hidden">
      {{ page.title | escape }}
      </span>
    </a>
  </div>
</li>
{% endif %}