<div class="criteria-container">
  <label for="criteria-area" class="h-charlie">
    Success criteria list
  </label>
  <div class="textarea-container">
    <textarea id="criteria-area">Select components to get started or use ••• to learn more.</textarea>
    <div class="textarea-controls">
      <div>
        <button id="copy" class="button-alpha" type="button">
          Copy
        </button>
        <!--<input type="checkbox" role="switch" id="markdown">-->
        <!--<label for="markdown">Show Markdown</label>-->
      </div>
    </div>
  </div>
</div>