<div class="tabs" role="radiogroup" aria-label="Choose your test instructions">
  <input type="radio" aria-label="Show gherkin acceptance criteria" class="tab" aria-controls="gherkin-panel" id="gherkin" name="criteria" checked>
  <label for="gherkin">Gherkin</label>
  <input type="radio" aria-label="Show condensed testing instructions" class="tab" aria-controls="condensed-panel" id="condensed" name="criteria">
  <label for="condensed">Condensed</label>
  {% if page.wcag and page.wcag != "" %}
  <input type="radio" aria-label="Show WCAG principles" class="tab" aria-controls="wcag-panel" id="wcag" name="criteria">
  <label for="wcag">WCAG</label>
  {% endif %}
</div>