<div class="criteria-container">
  <div class="sticky-group">
    {% if page.url != "/native/" %}
      {% include criteria-tabs.html %}
    {% else %}
      <label for="condensed-textarea" class="h-charlie">
        Acceptance criteria list
      </label>
    {% endif %}

    {% if page.url != "/native/" %}
    <div class="textarea-container gherkin-criteria tab-panel" id="gherkin-panel">
      <textarea aria-label="Gherkin acceptance criteria" id="gherkin-textarea">Choose components to get started or use ••• to learn more.</textarea>
      <div class="textarea-controls">
        <div>
          <button id="copy-gherkin" aria-label="Copy gherkin acceptance criteria" class="button-alpha" type="button">
            Copy
          </button>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="textarea-container condensed-criteria tab-panel" {% if page.url == "/native/" %}style="display:block;"{% endif %} id="condensed-panel">
      <textarea aria-label="Condensed acceptance criteria" id="condensed-textarea">Choose components to get started or use ••• to learn more.</textarea>
      <div class="textarea-controls">
        <button id="copy-condensed" aria-label="Copy condensed test instructions" class="button-alpha" type="button">
          Copy
        </button>
        <div class="support-container">
          <input type="checkbox" role="switch" id="sme-a11y-include">
          <label for="sme-a11y-include">Support info</label>  
        </div>
        <a href="/settings/" class="button accessory">Settings</a>
    </div>
    </div>
  </div>
</div>