<footer class="container" id="footer">
  <nav aria-label="Site map">
    <ul>
      <li>
        <a href="{{ site.baseurl}}/how-to-test/">
          How to test
        </a>
      </li>

      <li>
        <a href="{{ site.baseurl}}/web/">
          Web checklist
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/native/">
          Native App checklist
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/design/">
          Design criteria
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/demos/">
          Demos
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/about/">
          About
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/code-of-conduct/">
          Code of conduct
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/site-map/">
          Site map
        </a>
      </li>
    </ul>
  </nav>
  <p>{{ site.description | escape }}</p>
  <p class="last-modified" id='last-modified'></p>
</footer>
