<nav id="nav" class="menu" aria-label="Site menu">
  <ul>
    <li class="home">
      <a
        {% if page.url== "/" %} aria-current="page" {% endif %}
        href="{{ site.baseurl }}/">{{ site.title }}
      </a>
    </li>
    <li class="web alpha">
      <a
        {% if page.url== "/web/" %} aria-current="page" {% endif %}
        {% if page.url contains "web" %} class="current" {% endif %}
        href="{{ site.baseurl }}/web/">Web
      </a>
    </li>
    <li class="native alpha">
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/native/">Native
      </a>
    </li>
    <li class="native bravo">
      <a
        {% if page.url== "/how-to/" %} aria-current="page" {% endif %}
        {% if page.url contains "how-to" %} class="current" {% endif %}
        href="{{ site.baseurl }}/how-to/">How to test
      </a>
    </li>

    <li class="native bravo">
      <a
        {% if page.url== "/demos/" %} aria-current="page" {% endif %}
        {% if page.url contains "demos" %} class="current" {% endif %}
        href="{{ site.baseurl }}/demos/">Demos
      </a>
    </li>

    <li class="expander-group site-sub-group">
      <button
        class="expander-toggle" aria-expanded="false">
        More
      </button>
      <ul class="expander-content">
        <li>
          <a href="{{ site.baseurl }}/how-to/">How to test</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/demos/">Demos</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/code-of-conduct/">Code of Conduct</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>