<nav id="nav" class="narrow" aria-label="Site menu">
  <ul>
    <li>
      <a class="home"
        {% if page.url== "/" %} aria-current="page" {% endif %}
        href="{{ site.baseurl }}/">{{ site.title }}
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/web/" %} aria-current="page" {% endif %}
        {% if page.url contains "web" %} class="current" {% endif %}
        href="{{ site.baseurl }}/web/">Web
      </a>
    </li>
    <li>
      <a
        {% if page.url== "/native/" %} aria-current="page" {% endif %}
        {% if page.url contains "native" %} class="current" {% endif %}
        href="{{ site.baseurl }}/native/">Native
      </a>
    </li>
    <li class="expander-group">
      <button
        class="expander-toggle" aria-expanded="false">
        More
      </button>
      <ul class="expander-content">
        <li>
          <a href="{{ site.baseurl }}/how-to/">How to test</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/demos/">Demos</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/code-of-conduct/">Code of Conduct</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>