<details id="test-case-wrapper" class="test-case-wrapper">
  <summary>
    What to test on this page
  </summary>

  <details class="acceptance-criteria" id="nav-details">
    <summary>
      Navigation
    </summary>
    <div class="">
      <p class="" itemprop="name">
        <strong>Given that</strong> I am on a page with a Navigation menu
      </p>

      <div id="step1" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie" itemprop="name">
          <step-number>1 </step-number>Keyboard for mobile &amp; desktop
        </h3>

        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use the tab key to move focus to a interactive element in the navigation

              <strong>I SEE</strong> focus is strongly visually indicated

            </li>
          
          
        </ul>
      </div>
      


      <div id="step2" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie">
          <step-number>2</step-number>
          Desktop screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a desktop screenreader (NVDA, JAWS, VoiceOver) 
              <strong>AND</strong>  
              
                I use the tab key to move focus to a interactive element in the navigation

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">the role AND if there are multiple navigations present (Ex: Main navigation, Site map, Category menu) the name of the navigation
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It is discoverable as navigation landmark using screenreader shortcuts
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">The navigation is read along with the interactive links and buttons when focused
</span>
                    </li>
                  
                </ul>
                
            </li>
          

          
        </ul>
      </div>

      <div id="step3" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">

        <h3 class="h-charlie">
          <step-number>3 </step-number>Mobile screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a mobile screenreader (Talkback, VoiceOver) 
              <strong>AND</strong> 
              
                I swipe to focus on a link or button

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">the role AND if there are multiple navigations present (Ex: Main navigation, Site map, Category menu) the name of the navigation
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It is discoverable as navigation landmark using screenreader shortcuts
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">The navigation is read along with the interactive links and buttons when focused
</span>
                    </li>
                  
                </ul>
                
            </li>
          
          
             
              <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
                <strong>THEN</strong> when I doubletap with the link or button in focus

                <strong>I HEAR</strong> <span class="lowercase">my browser goes somewhere or does something
</span>
              </li>
            
          
        </ul>
      </div>
    </div>
  </details>

  <details class="acceptance-criteria" id="link-details">
    <summary>
      Link
    </summary>

    <div class="">
      <p class="" itemprop="name">
        <strong>Given that</strong> I am on a page with a Link
      </p>

      <div id="step1" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie" itemprop="name">
          <step-number>1 </step-number>Keyboard for mobile &amp; desktop
        </h3>

        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use the tab key to move focus to a link

              <strong>I SEE</strong> focus is strongly visually indicated

            </li>
          
          
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
              <strong>THEN</strong> when I use the enter key to activate the link

              <strong>I SEE</strong> my browser goes somewhere

              </li>
          
        </ul>
      </div>
      


      <div id="step2" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie">
          <step-number>2</step-number>
          Desktop screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a desktop screenreader (NVDA, JAWS, VoiceOver) 
              <strong>AND</strong>  
              
                I use the tab key to move focus to a link

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">Its purpose is clear
                      </span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It identifies itself as a link
                      </span>
                    </li>
                  
                </ul>
                
            </li>
          

          
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
              <strong>THEN</strong> when I use the enter key to activate the link

              <strong>I HEAR</strong> 
              <span class="lowercase">my browser goes somewhere
              </span>   
            </li>
          
        </ul>
      </div>

      <div id="step3" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">

        <h3 class="h-charlie">
          <step-number>3 </step-number>Mobile screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a mobile screenreader (Talkback, VoiceOver) 
              <strong>AND</strong> 
              
                I swipe to focus on a link

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">Its purpose is clear
                      </span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It identifies itself as a link
                      </span>
                    </li>
                  
                </ul>
                
            </li>
          
          
              
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
                <strong>THEN</strong> when I doubletap with the link in focus

                <strong>I HEAR</strong> <span class="lowercase">my browser goes somewhere
                </span>
              </li>
            
          
        </ul>
      </div>
    </div>


  </details>

  <details class="acceptance-criteria" id="img-details">
    <summary>
      Image
    </summary>
    <div class="">
      <p class="" itemprop="name">
        <strong>Given that</strong> I am on a page with a Image: jpg, gif, png, svg
      </p>

      <div id="step1" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie" itemprop="name">
          <step-number>1 </step-number>Keyboard for mobile &amp; desktop
        </h3>

        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use the arrow key to browse to an image

              <strong>I SEE</strong> the image comes into view

            </li>
          
          
        </ul>
      </div>
      


      <div id="step2" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie">
          <step-number>2</step-number>
          Desktop screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a desktop screenreader (NVDA, JAWS, VoiceOver) 
              <strong>AND</strong>  
              
                I use the arrow key to browse to an image

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">The content of the image alt text is clear
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It dentifies its role as an image or graphic
</span>
                    </li>
                  
                </ul>
                
            </li>
          

          
        </ul>
      </div>

      <div id="step3" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">

        <h3 class="h-charlie">
          <step-number>3 </step-number>Mobile screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a mobile screenreader (Talkback, VoiceOver) 
              <strong>AND</strong> 
              
                I swipe to focus on an image

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">The content of the image alt text is clear
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It dentifies its role as an image or graphic
</span>
                    </li>
                  
                </ul>
                
            </li>
          
          
        </ul>
      </div>
    </div>


  </details>

  <details class="acceptance-criteria" id="expander-details">
    <summary>
      Accordion expander
    </summary>
    
    <div class="">
      <p class="" itemprop="name">
        <strong>Given that</strong> I am on a page with a Expander accordion
      </p>

      <div id="step1" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie" itemprop="name">
          <step-number>1 </step-number>Keyboard for mobile &amp; desktop
        </h3>

        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use the tab key to move focus to an expander

              <strong>I SEE</strong> focus is strongly visually indicated

            </li>
          
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>THEN</strong> when I use the spacebar and/or enter key to activate the expander

              <strong>I SEE</strong> the hidden content is revealed

              </li>
          
        </ul>
      </div>
      


      <div id="step2" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie">
          <step-number>2</step-number>
          Desktop screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a desktop screenreader (NVDA, JAWS, VoiceOver) 
              <strong>AND</strong>  
              
                I use the tab key to move focus to an expander

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">Its purpose is clear
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It identifies its role of a button or details
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It expresses its state (expanded/collapsed)
</span>
                    </li>
                  
                </ul>
                
            </li>
          

          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>THEN</strong> when I use the spacebar and/or enter key to activate the expander

              <strong>I HEAR</strong> 
              <span class="lowercase">the hidden content is revealed
</span>
            </li>
          
        </ul>
      </div>

      <div id="step3" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">

        <h3 class="h-charlie">
          <step-number>3 </step-number>Mobile screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a mobile screenreader (Talkback, VoiceOver) 
              <strong>AND</strong> 
              
                I swipe to focus on a button

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">Its purpose is clear
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It identifies its role of a button or details
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It expresses its state (expanded/collapsed)
</span>
                    </li>
                  
                </ul>
                
            </li>
          
          
             
              <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
                <strong>THEN</strong> when I doubletap with the button in focus

                <strong>I HEAR</strong> <span class="lowercase">the intended action occurs
</span>
              </li>
            
          
        </ul>
      </div>
    </div>

  </details>

  <details class="acceptance-criteria" id="radio-details">
    <summary>
      Radio input
    </summary>
    <div class="">
      <p class="" itemprop="name">
        <strong>Given that</strong> I am on a page with a Radio button
      </p>

      <div id="step1" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie" itemprop="name">
          <step-number>1 </step-number>Keyboard for mobile &amp; desktop
        </h3>

        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use the tab key to move focus to a radio group

              <strong>I SEE</strong> focus is strongly visually indicated on the first unselected option or the selected option

            </li>
          
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>THEN</strong> when I use the spacebar to activate the radio button

              <strong>I SEE</strong> the radio button with focus change state to selected.

              </li>
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>THEN</strong> when I use the arrow keys to focus radio button

              <strong>I SEE</strong> the state is changed

              </li>
          
        </ul>
      </div>
      


      <div id="step2" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">
        <h3 class="h-charlie">
          <step-number>2</step-number>
          Desktop screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a desktop screenreader (NVDA, JAWS, VoiceOver) 
              <strong>AND</strong>  
              
                I use the tab key to move focus to a radio group

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">Its label and purpose is clear
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It identifies itself as a radio option
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">Each option has an associated label and the radio group name
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It expresses its state (selected, checked, disabled)
</span>
                    </li>
                  
                </ul>
                
            </li>
          

          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>THEN</strong> when I use the spacebar to activate the radio button

              <strong>I HEAR</strong> 
              <span class="lowercase">the radio button with focus change state to selected.
</span>
            </li>
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>THEN</strong> when I use the arrow keys to focus radio button

              <strong>I HEAR</strong> 
              <span class="lowercase">the state is changed
</span>
            </li>
          
        </ul>
      </div>

      <div id="step3" itemprop="step" itemscope="" itemtype="http://schema.org/HowToStep">

        <h3 class="h-charlie">
          <step-number>3 </step-number>Mobile screenreader
        </h3>
        <ul class="gherkin-list">
          
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
              <strong>WHEN</strong> I use a mobile screenreader (Talkback, VoiceOver) 
              <strong>AND</strong> 
              
                I swipe to focus on a radio button

                <ul>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">Its label and purpose is clear
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It identifies itself as a radio option
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">Each option has an associated label and the radio group name
</span>
                    </li>
                  
                    <li>
                      <strong>I HEAR</strong>
                      <span class="lowercase">It expresses its state (selected, checked, disabled)
</span>
                    </li>
                  
                </ul>
                
            </li>
          
          
             
              <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/HowToDirection">
                <strong>THEN</strong> when I doubletap with the radio in focus

                <strong>I HEAR</strong> <span class="lowercase">the state is changed
</span>
              </li>
            
          
        </ul>
      </div>
    </div>


  </details>


</details>

