@mixin base-tokens {
  // Line heights
  --magentaa11y-line-height-71: 71px;
  --magentaa11y-line-height-63: 63px;
  --magentaa11y-line-height-57: 57px;
  --magentaa11y-line-height-50: 50px; /* Line height for header H1. */
  --magentaa11y-line-height-43: 43px; /* Line height for header H2. */
  --magentaa11y-line-height-34: 34px; /* Line height for header H3 + H4 + H5. */
  --magentaa11y-line-height-30: 30px; /* Line height for header H6 + H7. */
  --magentaa11y-line-height-26: 26px; /* Line height for body XXL. */
  --magentaa11y-line-height-24: 24px; /* Line height for header H9 & body XL. */
  --magentaa11y-line-height-22: 22px; /* Line height for body LG. */
  --magentaa11y-line-height-20: 20px; /* Line height for body MD. */
  --magentaa11y-line-height-18: 18px; /* Line height for body SM. */
  --magentaa11y-line-height-16: 16px;
  --magentaa11y-line-height-15: 15px; /* Line height for body XS. */

  // Font sizes
  --magentaa11y-font-size-68: 68px;
  --magentaa11y-font-size-60: 60px;
  --magentaa11y-font-size-52: 52px;
  --magentaa11y-font-size-48: 48px; /* H1 header size on mobile. */
  --magentaa11y-font-size-40: 40px; /* H2 header size on mobile. */
  --magentaa11y-font-size-32: 32px; /* H3 + H4 + H5 header size on mobile. */
  --magentaa11y-font-size-28: 28px; /* H6 + H7 header size on mobile. */
  --magentaa11y-font-size-24: 24px; /* H8 header size on mobile. */
  --magentaa11y-font-size-20: 20px; /* H9 header and body XXL size on mobile. */
  --magentaa11y-font-size-18: 18px; /* XL body size on mobile. */
  --magentaa11y-font-size-16: 16px; /* LG body size on mobile. */
  --magentaa11y-font-size-14: 14px; /* MD body size on mobile. */
  --magentaa11y-font-size-12: 12px; /* SM body size on mobile. */
  --magentaa11y-font-size-11: 11px; /* XS body size on mobile. */

  // Font weights
  --magentaa11y-font-weight-extrabold: 800; /* Used for header copy. */
  --magentaa11y-font-weight-semibold: 600; /* Used for body copy. */
  --magentaa11y-font-weight-bold: bold; /* Used for header copy. */
  --magentaa11y-font-weight-regular: normal; /* Used for header and body copy. */

  // Font families
  --magentaa11y-font-family-body: blinkmacsystemfont, -apple-system, roboto,
    helvetica, "Segoe UI", arial, sans-serif; /* Used for body copy, buttons, and links on web. */

  --magentaa11y-font-family-display: teleneo; /* Reserved for headline display. */
  --magentaa11y-font-family-header: teleneo; /* Reserved for headline display. */

  // Border radius
  --magentaa11y-border-radius-size-24: 24px; /* Border radius for cards. */
  --magentaa11y-border-radius-size-22: 22px; /* Border radius for cards. */
  --magentaa11y-border-radius-size-12: 12px; /* Border radius for cards. */
  --magentaa11y-border-radius-size-10: 10px; /* Border radius for app image placeholders. */
  --magentaa11y-border-radius-size-6: 6px; /* For graphic objects like segmented controls. */
  --magentaa11y-border-radius-size-4: 4px; /* Applied to buttons, containers, & input fields. */
  --magentaa11y-border-radius-size-2: 2px; /* Applied to legends. */

  // Border weights
  --magentaa11y-border-weight-size-16: 16px; /* Hero progress ring */
  --magentaa11y-border-weight-size-12: 12px; /* Regular progress ring and bar */
  --magentaa11y-border-weight-size-8: 8px; /* Compact progress bar */
  --magentaa11y-border-weight-size-4: 4px;
  --magentaa11y-border-weight-size-3: 3px;
  --magentaa11y-border-weight-size-2: 2px; /* For inputs and secondary buttons */
  --magentaa11y-border-weight-size-1: 1px; /* For inputs */

  // Spacing
  --magentaa11y-spacing-size-160: 160px;
  --magentaa11y-spacing-size-96: 96px;
  --magentaa11y-spacing-size-80: 80px;
  --magentaa11y-spacing-size-64: 64px;
  --magentaa11y-spacing-size-48: 48px;
  --magentaa11y-spacing-size-40: 40px;
  --magentaa11y-spacing-size-36: 36px;
  --magentaa11y-spacing-size-32: 32px;
  --magentaa11y-spacing-size-28: 28px;
  --magentaa11y-spacing-size-24: 24px;
  --magentaa11y-spacing-size-20: 20px;
  --magentaa11y-spacing-size-18: 18px;
  --magentaa11y-spacing-size-16: 16px;
  --magentaa11y-spacing-size-12: 12px;
  --magentaa11y-spacing-size-8: 8px;
  --magentaa11y-spacing-size-4: 4px;
}
