/* Base styles for code blocks */
pre {
  font-size: 1rem;
  line-height: 1.6;
  margin: 1rem 0;
  border-radius: 6px;
  background-color: var(--color-code-block); /* Adapts to theme */
  overflow-x: auto;
  color: var(--color-on-tertiary); /* Adapts to theme */
}

/* stylelint-disable no-duplicate-selectors */
@media (prefers-color-scheme: dark) {
  pre {
    background-color: var(--color-on-primary); /* Dark mode background */
    border: 1px solid var(--color-outline);
  }
}

code {
  font-family: monospace;
  color: var(--color-text-secondary);

}

:not(pre) > code {
  background: var(--color-background-secondary);
  padding: 0.15em 0.33em 0.1em;
  border: solid var(--color-background-tertiary);
  border-width: 1px;
  border-radius: 8px;
}

/* Syntax Highlighting with hljs classes */

// /* Base text color */
// .hljs {
//   color: var(--color-text-primary); /* Main text color */
// }

/* Tags (e.g., <header>) */
.hljs-tag {
  color: var(--color-on-background); /* Primary color for tags */
  font-weight: bold;
}

/* Tag names (e.g., header, nav, ul) */
.hljs-name {
  color: var(--color-caution); /* Secondary color for tag names */
}

/* Tag attributes (e.g., id, class) */
.hljs-attr,
.hljs-title,
.hljs-variable, {
  color: var(--color-info);
}

/* Attribute values (e.g., "example-header") */
.hljs-string,
.hljs-literal {
  color: var(--color-critical); /* Light color for attribute values */
  font-weight: normal;
}

/* Comments */
.hljs-comment {
  color: var(--color-caution); /* Muted color for comments */

}

/* Punctuation (e.g., <> and =) */
.hljs-punctuation {
  color: var(--color-outline); /* Neutral color for punctuation */
}

/* Operators, such as `=` */
//  {
//   color: var(--color-error); /* Error color for operators */
// }

/* Keywords */
.hljs-keyword,
.hljs-type {
  color: var(--color-on-primary-container); 
}

/* HTML entity or URL */
.hljs-entity,
.hljs-url,
.hljs-operator{
  color: var(--color-primary); /* Link color for entities and URLs */
}

/* Functions and properties */
.hljs-function,
.hljs-property {
  color: var(--color-info); /* Function and property colors */
}

/* Numbers */
.hljs-number,
.hljs-meta {
  color: var(--color-info); /* Secondary color for numbers */
}
