.alert {
  border-radius: 2px;
  transition: .2s;
  height: 0px;
  padding: 0rem 1rem;

  &.inert {
    display: block;
    max-height: 0px;
  }

  &.enabled {
    padding: 1rem;
    line-height: 1rem;
    margin: 1rem 0;
    background: $color-alert;
    height: auto;
    max-height: 8rem;
  }
}