.alert {
  border-radius: 2px;
  transition: .2s;
  height: 0px;
  padding: 1rem .5rem 1rem 0rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  &.enabled {
    line-height: 1rem;
    margin: 1rem 0;
    background: $color-alert;
    height: auto;
    max-height: 8rem;
    &:before {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      position: relative;
      top: 0rem;
      left: 0rem;
      justify-self: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: var(--icon-alert-black);
    }
  }
  &.notification {
    background-color: $color-green-dark;
    color: #fff;
    &:before {
      background-image: var(--icon-check-white);
    }
  }
  &.inert {
    display: block;
    max-height: 0px;
    padding: 0;
  }
}

