.button,
button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border: none;
  padding: 1.25rem 3rem 1.25rem 2rem;
  margin-bottom: 0rem;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: bold;
  @include bold;
  border-radius: 2px;
  color: #fff;
  transition: text-indent .7s;
  cursor: pointer;
  background-color: $color-button-primary;
  @include ripple($color-button-primary, $color-button-primary, center, center);
  
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 1.125rem;
    right: 1.75rem;
    width: 1.25rem;
    height: 1.25rem;
    background-image: var(--icon-chevron-white);
    opacity: .5;
    transition: .2s;
    transform: rotate(270deg);
  }

  &:hover,
  &:focus {
    background-color: $color-button-hover;
    &:before {
      opacity: 1;
      right: 1.5rem;
    }
    &:after {
      opacity: 1;
      right: .75rem;
    }
  }
  &:active {
    &:before {
      opacity: 1;
      right: 1.5rem;
    }
  }
  &:disabled,
  &[aria-disabled="true"]{
    color: $color-text;
    background: $color-button-disabled;
    &:before,
    &:after {
      background-image: var(--icon-chevron-gray);
    }
    &:hover,
    &:focus {
      &:before,
      &:after {
        top: 1.125rem;
        right: 1.75rem;
        width: 1.25rem;
        height: 1.25rem;
        opacity: .5;

      }
    }
  }
  &.margin {
    margin-bottom: 1rem;
  }
  &.tertiary {
    text-decoration: none;
    background-color: transparent;
    color: $color-text;
    @include ripple(#fff, #eee, center, center);
    padding-left: 0;

    &:before {
      background-image: var(--icon-chevron-dark);
    }
    &:after {
      background-image: var(--icon-chevron-dark);
    }
    &:hover,
    &:focus,
    &:focus-visible {
      background: transparent;
      @include ripple(#fff, #eee, center, center);
      z-index: 99;
    }
  }

  &.secondary {
    @extend .button;
    text-decoration: none;
    background-color: transparent;
    color: $color-text;
    border: 2px solid $color-gray-dark;
    &:before {
      background-image: var(--icon-chevron-dark);
    }
    &:hover,
    &:focus {
      background: $color-gray-light;
    }
  }
  &.accessory {
    @extend .button;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: $color-text;
    padding-left: .5rem;
    padding-right: .5rem;

    &:before {
      display: none;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2rem;
      width: calc(100%);
      grid-column: 1;
      grid-row: 1;
      background: $color-gray-xtra-light;
      border-radius: .25rem;
      border: 1px solid $color-gray;
      top: .7rem;
      left: 0 !important;
      transform: rotate(0);
      z-index: -1;
    }

    &:hover,
    &:focus {
      color: $color-text;
      &:after {
        background-color: $color-gray-light;
        border: 1px solid $color-gray-dark;

      }
  
    }
  }

  &.plus,
  &.minus {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    padding: 0;
    &:before {
      background-image: none;
    }
    &:after {
      background-image: none;

    }
  }

  &.plus {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: .75rem;
      left: .75rem;
      width: 1.5rem;
      height: 1.5rem;
      background-image: var(--icon-plus-white);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: .9;
      transition: .45s;
      transform: rotate(0deg);
    }
  }
  &.minus {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: .75rem;
      left: .75rem;
      width: 1.5rem;
      height: 1.5rem;
      background-image: var(--icon-minus-white);
      background-repeat: no-repeat;
      background-position: center center;
      opacity: .9;
      transition: .45s;
      transform: rotate(0deg);
    }
  }
  &.previous {
    padding: 1.25rem 2rem 1.25rem 3rem;

    &:before,
    &:after {
      content: '';
      left: 1.75rem;
      right: auto;
      background-image: var(--icon-chevron-dark);
      transform: rotate(90deg);
    }
  
    &:hover,
    &:focus {
      &:before {
        opacity: 1;
        left: 1.5rem;
      }
      &:after {
        opacity: 1;
        left: .75rem;
      }
    }
  }

  &.inline {
    padding: 1rem;
    background: none;
    color: $color-text;
    &:before {
      display: none;
    }
  }

  &.icon-button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    position: relative;
    border: none;
    padding: 0rem;
    margin-bottom: 0rem;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2px;
    color: #fff;
    width: 3rem;
    height: 3rem;
    &:before,
    &:after {
      display: none;
    } 

    &:hover {
    }
    &:focus {
      @include focus;
    }

    &.play {
      background-image: var(--icon-play-dark);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
   &.inline-link {
    padding: 0rem;
    margin: 0;
    line-height: auto;;
    background: none;
    color: $color-text;
    text-decoration: underline;
  
    &:before,
    &:after {
      display: none;
    }
  }
}
