.button,
button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border: none;
  padding: 1.5rem 3rem 1.5rem 2rem;
  margin-bottom: 0rem;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: bold;
  @include bold;
  border-radius: 2px;
  color: #fff;
  transition: text-indent .7s;
  cursor: pointer;
  background-color: $color-button-primary;
  @include ripple($color-button-primary, darken($color-button-primary,10), center, center);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='white' d='M6.3,10.1l5.6-5.6C12,4.4,12,4.3,12,4.2c0-0.1,0-0.2-0.1-0.3l0,0c-0.1-0.1-0.2-0.1-0.3-0.1H8.9c-0.1,0-0.2,0-0.3,0.1L6,6.5 L3.4,3.9C3.3,3.8,3.2,3.8,3.1,3.8H0.4c-0.1,0-0.2,0-0.3,0.1l0,0C0,4,0,4.1,0,4.2c0,0.1,0,0.2,0.1,0.3l5.6,5.6 C5.9,10.2,6.1,10.2,6.3,10.1z'%3E%3C/path%3E%3C/svg%3E");
    opacity: .25;
    transition: .45s;
    transform: rotate(270deg);
  }
  &:hover,
  &:focus {
    background-color: $color-button-hover;
    &:before {
      opacity: 1;
      right: 1.25rem;
    }
  }
  &:active {
    &:before {
      opacity: 1;
      right: 2rem;
    }
  }
  &:disabled,
  &[aria-disabled="true"]{
    color: $color-button-primary;
    background: $color-border-gray;
  }

  &.tertiary {
    @extend .button;
    text-decoration: none;
    background-color: transparent;
    color: $color-text;
    border: none;
    border-radius: 0;
    @include ripple(#fff, #eee, center, center);
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='black' d='M6.3,10.1l5.6-5.6C12,4.4,12,4.3,12,4.2c0-0.1,0-0.2-0.1-0.3l0,0c-0.1-0.1-0.2-0.1-0.3-0.1H8.9c-0.1,0-0.2,0-0.3,0.1L6,6.5 L3.4,3.9C3.3,3.8,3.2,3.8,3.1,3.8H0.4c-0.1,0-0.2,0-0.3,0.1l0,0C0,4,0,4.1,0,4.2c0,0.1,0,0.2,0.1,0.3l5.6,5.6 C5.9,10.2,6.1,10.2,6.3,10.1z'%3E%3C/path%3E%3C/svg%3E");
    }
    &:hover,
    &:focus,
    &:focus-visible {
      background: transparent;
      @include ripple(#fff, #eee, center, center);
      z-index: 99;
    }
  }

  &.secondary {
    @extend .button;
    text-decoration: none;
    background-color: transparent;
    color: $color-text;
    border: 2px solid $color-gray-dark;
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='black' d='M6.3,10.1l5.6-5.6C12,4.4,12,4.3,12,4.2c0-0.1,0-0.2-0.1-0.3l0,0c-0.1-0.1-0.2-0.1-0.3-0.1H8.9c-0.1,0-0.2,0-0.3,0.1L6,6.5 L3.4,3.9C3.3,3.8,3.2,3.8,3.1,3.8H0.4c-0.1,0-0.2,0-0.3,0.1l0,0C0,4,0,4.1,0,4.2c0,0.1,0,0.2,0.1,0.3l5.6,5.6 C5.9,10.2,6.1,10.2,6.3,10.1z'%3E%3C/path%3E%3C/svg%3E");
    }
    &:hover,
    &:focus {
      background: $color-gray-light;
    }
  }

  &.plus,
  &.minus {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    padding: 0;
    &:before {
      background-image: none;
    }
  }

  &.plus {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: .75rem;
      left: .75rem;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='white' viewBox='0 0 288 288' xml:space='preserve'%3E%3Cpolygon points='116.12,6.2 116.12,116.12 6.2,116.12 6.2,171.88 116.12,171.88 116.12,281.8 171.88,281.8 171.88,171.88 281.8,171.88 281.8,116.12 171.88,116.12 171.88,6.2 '/%3E%3Crect x='314.2' y='116.12' width='275.61' height='55.76'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: .9;
      transition: .45s;
      transform: rotate(0deg);

    }
  }
  &.minus {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: .75rem;
      left: .75rem;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='white' viewBox='0 0 288 288' style='enable-background:new 0 0 288 288;' xml:space='preserve'%3E%3Cpolygon points='-191.88,6.2 -191.88,116.12 -301.8,116.12 -301.8,171.88 -191.88,171.88 -191.88,281.8 -136.12,281.8 -136.12,171.88 -26.2,171.88 -26.2,116.12 -136.12,116.12 -136.12,6.2 '/%3E%3Crect x='6.2' y='116.12' width='275.61' height='55.76'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      opacity: .9;
      transition: .45s;
      transform: rotate(0deg);
    }
  }
  &.previous {
    padding: 1.5rem 2rem 1.5rem 3rem;

    &:before {
      right: auto;
      left: 2rem;
      transform: rotate(90deg);
    }
    &:hover,
    &:focus {
      &:before {
        opacity: 1;
        right: auto;
        left: 1.25rem;
      }
    }
    &:active {
      &:before {
        opacity: 1;
        right: 2rem;
      }
    }
  }

  &.inline {
    padding: 1rem;
    background: none;
    color: $color-text;
    &:before {
      display: none;
    }
  }

}

