
.cards {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: 0;
  padding: 0;
  @include break($break-small) {
    grid-template-columns: 1fr 1fr;
    }

  &.home {
    @include break($break-mid) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
      //border-bottom: .25rem solid $color-brand-primary;
      @include break($break-mid) {
        grid-row: 1/3;
      } 
    }

    .card-how-to {
      @include break($break-mid) {
        grid-column: 3;
        grid-row: 1;
      } 
    }

    .card-demo {
      @include break($break-mid) {
        grid-column: 3;
        grid-row: 2;
      } 
    }
  }

  .card {
    display: grid;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #fff;
    border-radius: 1rem;
    list-style-type: none;
    @include float;


    &.interactive {
      cursor: pointer;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: transparent !important;
        width: 100%;
        height: 100%;
      }
      &:hover {
        box-shadow: 0 0 0 .25rem rgba($color-focus, .5);
        outline-offset: 0rem;
        transition: .2s;
      }
    }

    .extended-description {
      padding: 0 1rem 1rem 1rem;
      z-index: 99;
      position: relative;
    }

    a.display {
      display: block;
      margin: 0px auto;
      padding: 2rem 1rem 1.5rem;
      text-align: center;
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: bold;
      text-decoration: none;
      border-radius: 0px;
      @include headline;
      align-self: center stretch;
      width: 100%;
      position: relative;
      &:after {
        transition: .4s;
        content: '';
        display: block;
        position: absolute;
        bottom: 0rem;
        left: 0;
        width: 100%;
        height: 1px;
        border-radius: 0 0 2px 2px;
        background: $color-brand-primary;
      }
      &:hover,
      &:focus {
        &:after {
          content: '';
          height: .5rem;
        }
    }

      svg {
        display: block;
        margin: 1rem auto 0px auto;
      }

      span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: $color-brand-primary;
        @include headline;
      }
    }

    &.horizontal {
      svg {
        display: block;
        margin: 0px auto;
        float: left;
      }
    }

  }
}