
.cards {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: 0;
  padding: 0;
  @include break($break-small) {
    grid-template-columns: 1fr 1fr;
  }

  &.home {
    @include break($break-mid) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
      //border-bottom: .25rem solid $color-brand-primary;
      @include break($break-mid) {
        grid-row: 1/3;
      } 
    }

    .card-how-to {
      @include break($break-mid) {
        grid-column: 3;
        grid-row: 1;
      } 
    }

    .card-demo {
      @include break($break-mid) {
        grid-column: 3;
        grid-row: 2;
      } 
    }
  }

  .card {
    display: grid;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #fff;
    border-radius: 1rem;
    list-style-type: none;
    transition: .8s;
    @include float;

    &.interactive {
      cursor: pointer;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: transparent !important;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }
      &:hover {
        box-shadow: 0 0 0 .5rem rgba($color-focus, .4);
        outline-offset: .25rem;
        transition: .2s;
      }
    }

    .extended-description {
      padding: 0 1rem 1rem 1rem;
      z-index: 99;
      position: relative;
    }
    a {
      .secondary-text {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: $color-brand-primary;
        @include headline;
      }
    }
    a.display {
      display: block;
      margin: 0px auto;
      padding: 2rem 1rem 1.5rem;
      text-align: center;
      border-radius: 1rem;
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: bold;
      text-decoration: none;
      @include headline;
      align-self: center stretch;
      width: 100%;
      position: relative;
      transition: .2s;
      @include pop;
      &:after {
        transition: .1s;
        content: '';
        display: block;
        position: absolute;
        bottom: 0rem;
        left: 0;
        width: 100%;
        height: 4rem;
        border-radius: 0 0 1rem 1rem;
        background-size: 200% 4rem;
        background-repeat: no-repeat;
        background-position: 0% calc(100% + 2rem - 2px);
        background-image: linear-gradient(0deg, rgba(226,0,116,1) 0%, rgba(226,0,116,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
        transition: .2s;
      }
      &:hover,
      &:focus-visible {
        &:after {
          content: '';
          background-repeat: no-repeat;
          bottom: -.25rem;
          width: calc(100% + .5rem);
          left: -.25rem;
          right: -.25rem;
          border-radius: 0 0 1.25rem 1.25rem;
          background-position: 0% calc(100% + .875rem - .25rem);
        }
      }

      svg {
        display: block;
        margin: 1rem auto 0px auto;
      }
    }

    &.horizontal {
      svg {
        display: block;
        margin: 0px auto;
        float: left;
      }
    }
  }
}

.card {
  input[type="radio"],
  input[type="checkbox"] {
    + label {
      border-radius: 1rem 1rem 0 0;
      position: unset;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        border-radius: 1rem;
      }
    }
  }
}