details {
  background: #fff;
  border: none;
  margin-bottom: calc(2rem + 2px);
  padding: 1rem;
  border-radius: 1rem;
  transition: .8s;
  @include float;

  summary {
    font-weight: bold;
    @include headline;
    padding: 1.5rem 1rem 1.5rem 5rem;
    margin: calc(-1rem);
    border-radius: 1rem;
    line-height: .875;
    font-size: 1.25rem;
    line-height: 1rem;
    cursor: pointer;
    position: relative;
    display: block; // necessary to control ::marker
    z-index: 9;
    @include ripple;
    transition: .2s;

    &::-webkit-details-marker,
    &::marker {
      display:none;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      background-color: transparent;
      background-image: var(--icon-chevron-gray);
      opacity: 1;
      background-size: 1.25rem 1.25rem;
      background-position: center center;
      background-repeat: no-repeat;
      transform: rotate(0deg);
      box-shadow: 0 0 0rem .1rem transparent;
      transition: box-shadow .2s;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0rem;
      bottom: 0;
      left: 1rem;
      width: 3rem;
      border-right: 1px solid darken($color-gray-xtra-light, 5);
    }
    &:hover,
    &:focus-visible {
      &:before {
        box-shadow: 0 0 0rem .5rem rgba($color-focus,.4);
        background-image: var(--icon-chevron-dark);
      }
    }
    &:hover &:focus {
      outline: none;
    }

    &:focus-visible {
      @include focus;
    }
  }
  &[open] {
    summary {
      border-radius: 1rem 1rem 0 0;
      border-bottom: 1px dotted $color-border-gray;
      margin-bottom: 1rem;
      transition: .2s;
      @include ripple;
      @include pop;

      &:hover,
      &:focus-visible {
      transition: .2s;
        border-radius: 1rem;
      }
  
      &:before {
        transform: rotate(180deg);
        background-position: center center;
      }
    }
  }

  
  &:not([open]) summary {
    @include ripple;
    @include pop;
    transition: .2s;   
  }
  &.compact { 
    border: none !important;
    display: block;
    box-shadow: none;
    padding: 0;
    margin: 0;
    @include regular;

    summary {
      padding: 1.25rem .5rem 1rem 3rem;
      font-size: 1rem;
      margin: 0;
      @include headline;
      border-bottom: none;

      &:before {
        content: '';
        top: .625rem;
        left: 0rem !important; 
      }
      &:after {
        display: none;
      }
    }
  }

  &.checklist-details {
    font-size: auto;
    padding: 0;
    summary {
      margin: 0;
      border: none;
    }
  }
}


