details {
  background: #fff;
  padding: 1rem;
  border: none;
  border-radius: 2px;
  margin-bottom: calc(2rem + 2px);
  box-shadow: 0 0 5px 1px rgba(#000, .1);

  summary {
    font-weight: bold;
    @include headline;
    padding: 1.5rem 2rem 1.5rem 1rem !important;
    margin: calc(-1rem);
    line-height: .875;
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
    display: block; // necessary to control ::marker
    z-index: 9;


    @include ripple;

    &::-webkit-details-marker,
    &::marker {
      display:none;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='grey' d='M6.3,10.1l5.6-5.6C12,4.4,12,4.3,12,4.2c0-0.1,0-0.2-0.1-0.3l0,0c-0.1-0.1-0.2-0.1-0.3-0.1H8.9c-0.1,0-0.2,0-0.3,0.1L6,6.5 L3.4,3.9C3.3,3.8,3.2,3.8,3.1,3.8H0.4c-0.1,0-0.2,0-0.3,0.1l0,0C0,4,0,4.1,0,4.2c0,0.1,0,0.2,0.1,0.3l5.6,5.6 C5.9,10.2,6.1,10.2,6.3,10.1z'%3E%3C/path%3E%3C/svg%3E");
      opacity: 1;
      background-size: 1rem 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      transform: rotate(0deg);
      box-shadow: 0 0 0rem .1rem transparent;
      transition: box-shadow .2s;
    }
    &:hover,
    &:focus {
      &:before {
        box-shadow: 0 0 0rem .5rem rgba($color-focus,.2);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='black' d='M6.3,10.1l5.6-5.6C12,4.4,12,4.3,12,4.2c0-0.1,0-0.2-0.1-0.3l0,0c-0.1-0.1-0.2-0.1-0.3-0.1H8.9c-0.1,0-0.2,0-0.3,0.1L6,6.5 L3.4,3.9C3.3,3.8,3.2,3.8,3.1,3.8H0.4c-0.1,0-0.2,0-0.3,0.1l0,0C0,4,0,4.1,0,4.2c0,0.1,0,0.2,0.1,0.3l5.6,5.6 C5.9,10.2,6.1,10.2,6.3,10.1z'%3E%3C/path%3E%3C/svg%3E");
      }
    }
    &:hover &:focus {
      outline: none;
    }

    &:focus-visible {
      @include focus;
    }
  }
  &[open] {

  }


  &[open] summary {
    padding-bottom: 1rem;
    border-bottom: 1px dotted $color-border-gray;
    margin-bottom: 1rem;
    @include ripple;
    &:before {
      transform: rotate(180deg);
      background-position: center center;
    }
  }
  &:not([open]) summary {
    @include ripple;
  }

  &.checklist-details {
    font-size: auto;
    padding: 0;
    summary {
      margin: 0;
      border: none;
    }
  }
}


