details {
  background: #fff;
  border: none;
  margin-bottom: calc(2rem + 2px);
  padding: 1rem;
  border-radius: 1rem;
  transition: .8s;
  @include float;
  container-type: inline-size;

  summary {
    position: relative;
    display: grid; // necessary to control ::marker
    grid-template-columns: 4rem 1fr;
    align-items: center;
    padding: 1rem .5rem 1rem 0rem;
    margin: calc(-1rem);
    border-radius: 1rem;
    font-size: unset;
    font-size: 1.25rem;
    line-height: 1rem;
    font-weight: bold;
    @include headline;
    cursor: pointer;
    z-index: 9;
    @include ripple;

    h2,
    h3,
    h4 {
      font-size: unset;
      font-weight: unset;
    }

    &::-webkit-details-marker,
    &::marker {
      display:none;
    }
    &:before {
      content: '';
      display: block;
      position: relative;
      justify-self: center;
      width: 2.125rem;
      height: 2.125rem;
      border-radius: 2rem;
      background-color: #eee;
      background-image: var(--icon-chevron-dark);
      opacity: 1;
      background-size: 1.25rem 1.25rem;
      background-position: center center;
      background-repeat: no-repeat;
      transform: rotate(0deg);
      box-shadow:  0 0 0rem .325rem transparent;
      transition: box-shadow .2s, transform .5s;
    }
    
    // &:after {
    //   content: 'Collapsed';
    //   @include break($break-small) {
    //     content: '';
    //   }
    //   font-size: 1px;
    //   color: transparent;
    //   display: block;
    //   position: absolute;
    //   top: 0rem;
    //   bottom: 0;
    //   left: 0rem;
    //   width: 4rem;
    //   border-right: 1px solid darken($color-gray-xtra-light, 5);
    // }
    &:hover,
    &:focus-visible {
      &:before {
        box-shadow: 0 0 0rem .5rem rgba($color-focus,.3);
        background-image: var(--icon-chevron-brand);
        background-color: transparent;

      }
    }
    &:hover &:focus {
      outline: none;
    }

    &:focus-visible {
      @include focus;
    }

    @container(max-width: 320px) {
      direction: rtl;
      text-align: left;
      padding: 1rem 0rem 1rem 1rem;
      // &:before {
      //   left: auto;
      //   right: 1rem;
      // }
      // &:after {
      //   display: none;
      // }
    }
  }
  &[open] {
    summary {
      border-radius: 1rem 1rem 0 0;
      border-bottom: 1px dotted $color-border-gray;
      margin-bottom: 1rem;
      @include ripple;
  
      &:before {
        content: '';
        background-position: center center;
        transform: rotate(-180deg);

      }
      // &:after {
      //   content: 'Expanded'; // iOS Voiceover doesn't support state, this hacks it in
      //   @include break($break-small) {
      //     content: '';
      //   }
      // }
    }
  }

  
  &:not([open]) summary {
    @include ripple;
  }
  &.compact { 
    border: none !important;
    display: block;
    box-shadow: none;
    padding: 0;
    margin: 0;
    @include regular;

    summary {
      padding: .5rem .5rem .5rem 0;
      font-size: 1rem;
      margin: 0;
      @include headline;
      border-bottom: none;

      &:before {
        content: '';
        top: 0rem;
        left: 0rem !important; 
      }
      &:after {
        display: none;
      }
    }
  }

  &.checklist-details {
    font-size: auto;
    padding: 0;
    summary {
      margin: 0;
      border: none;
    }
  }
}


