.success-criteria-entry {
  @include break($break-large) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 2rem;
  }

  @include break($break-max) {
    grid-template-columns: 2fr 3fr;
    column-gap: 2rem;
  }
}

step-number {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
  background: #000;
  line-height: 2rem;
  border-radius: 1.5rem;
  margin-top: -.125rem;
  margin-left: -.25rem;
  margin-right: .5rem;

  @include break($break-small) {
    margin-left: -1rem;
  }

  @include break($break-max + 16px) {
    margin-left: -3rem;
    margin-right: 1rem;
  }
}

.test-instructions {
  background: #fff;
  border-radius: 2px;
  margin-bottom: 3rem;
  box-shadow: 0 0 5px 1px rgba(#000,.1);
  padding: .5rem;
  @include break($break-small) {
    padding: .5rem 2rem 1rem 2rem;
  }
  .condensed-criteria {
    padding-top: 2rem;
  }
  .gherkin-criteria {
    padding-top: 2rem;
  }
}


.condensed-criteria {
  display: none;
}
.gherkin-criteria {
  display: block;
}

input[type=radio]#condensed:checked {
  + label {   
    + .gherkin-criteria  {
      display: none;
      + .condensed-criteria {
        display: block;
      }
    }  
  }
}

.gherkin-list {
  border-top: 3px solid #000;
  padding-top: 1rem;
}