.success-criteria-entry {
  @include break($break-max) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 2rem;
  }
}

.test-instructions {
  background: #fff;
  border-radius: 2px;
  margin-bottom: 3rem;
  box-shadow: 0 0 5px 1px rgba(#000,.1);
  padding: .5rem .5rem .5rem .5rem;
  border-radius: 1rem;
  box-shadow: 0 6px 12px 0 rgba(#000, .15);

  @include break($break-small) {
    padding: 2rem 2rem 1rem 2rem;
  }

  .tabs {
    display: grid;
    @include break($break-small) {
      display: inline-grid;
    }
    @include break($break-max) {
      display: grid;
     }
  }

  step-number {

    @include break($break-small) {
      margin-left: -1rem;
    }
  
    @include break($break-max + 1rem) {
      margin-left: -3rem;
      margin-right: 1rem;
    }
  }
}


// .condensed-criteria {
//   display: none;
// }
// .gherkin-criteria {
//   display: none;
// }

// input[type=radio]#condensed:checked {
//   + label {   
//     + .gherkin-criteria  {
//       display: none;
//       + .condensed-criteria {
//         display: block;
//       }
//     }  
//   }
// }

.gherkin-list {
  border-top: 3px solid #000;
  padding-top: 1rem;
}