.expander-group {
  margin-bottom: 3rem;
  box-shadow: 0 0 5px 1px rgba(#000, .1);

  .expander-toggle,
  .expander-toggle-fail {
    display: block;
    width: 100%;
    color: #222;
    text-shadow: none;
    margin: 0;
    border-radius: 2px;
    padding: 1.5rem 1rem;
    font-size: 1.25rem;
    line-height: .875rem;
    position: relative;
    transition: .2s;
    text-align: left;
    background: #fff;

    &.subnav {
      position: absolute;
      right: -1.5rem;
      top: -1rem;
      min-width: 4rem;
      height: 100%;
      max-height: 4.5rem;
      border-left: none;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='grey' d='M6.3,10.1l5.6-5.6C12,4.4,12,4.3,12,4.2c0-0.1,0-0.2-0.1-0.3l0,0c-0.1-0.1-0.2-0.1-0.3-0.1H8.9c-0.1,0-0.2,0-0.3,0.1L6,6.5 L3.4,3.9C3.3,3.8,3.2,3.8,3.1,3.8H0.4c-0.1,0-0.2,0-0.3,0.1l0,0C0,4,0,4.1,0,4.2c0,0.1,0,0.2,0.1,0.3l5.6,5.6 C5.9,10.2,6.1,10.2,6.3,10.1z'%3E%3C/path%3E%3C/svg%3E");
      opacity: 1;
      background-size: 1rem 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      transform: rotate(0deg);
      transition: .2s;
    }
    &:after {
      background-image: none;
    }

    &:hover,
    &:focus {
      &:before {
        background-color: lighten($color-gray-light, 8);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='black' d='M6.3,10.1l5.6-5.6C12,4.4,12,4.3,12,4.2c0-0.1,0-0.2-0.1-0.3l0,0c-0.1-0.1-0.2-0.1-0.3-0.1H8.9c-0.1,0-0.2,0-0.3,0.1L6,6.5 L3.4,3.9C3.3,3.8,3.2,3.8,3.1,3.8H0.4c-0.1,0-0.2,0-0.3,0.1l0,0C0,4,0,4.1,0,4.2c0,0.1,0,0.2,0.1,0.3l5.6,5.6 C5.9,10.2,6.1,10.2,6.3,10.1z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    &[aria-expanded="true"],
    &.expanded {
      border-bottom: 1px solid $color-border-gray;
      &:before {
        transform: rotate(180deg);
        background-position: center center;
      }
    }
  }

  .expander-content {
    display: none;
    background: #fff;
    padding: 1rem;
    border-top: none;
    border-radius: 0 0 2px 2px;

    &.visible {
      display: block;
    }

    .expander-content {
      background: $color-gray-xtra-light;
    }
  }
}



