figure {
  margin-bottom: 3rem;

  table {
    margin-bottom: 1rem;
  }

  img {
    box-shadow: 0 0 4px 1px rgba(#000, .1);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background: #fff;
  }
}