.footnote-link {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    margin-left: -.75rem;
    margin-top: -.5rem;
    inset: -.5rem;
    padding-right: 100%;
    min-width: 3rem;
    min-height: 3rem;
    z-index: 9;
    background-color: transparent;
    border-radius: .25rem;
    transition: .2s;
  }
  &:hover {
    &:after {
      background-color: rgba(#000, .1);
    }
  }
}

@keyframes targeted {
  0%		{ 
          outline: 0rem solid rgba($color-gold, 0);
        }
  75%		{ 
          outline: .5rem solid rgba($color-gold, .75);
  }
  100%	{ 
          outline: 0rem solid rgba($color-gold, 0);
        }
}

.footnote:target {
  animation: targeted 2s 2;
  outline-offset: .25rem;
}