footer {
  @extend .container;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;

  .last-modified {
    color: $color-gray-dark;
  }

  nav {
    ul {
      display: block;
      margin-left: -.5rem;
      @include break($break-mid) {
        margin-left: -1rem;
      }
      li {
        display: inline-block;
      }
    }
    a {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-color: $color-gray-dark;

      &:after {
        display: none !important;
      }
    }
  }
}