form {
  position: relative;
  margin-bottom: 0rem;
  padding-bottom: 1rem;

  ul {
    border-top: 1px solid $color-border-gray;
    display: block;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
    border-top: none;
    border-bottom: 1px solid lighten($color-border-gray,10);
    display: grid;
    list-style-type: none;

    &.input-checkbox-item,
    &.input-radio-item {
      padding: 0;
    }
    &.input-textarea-item  {
      padding: 1rem 1rem .25rem 1rem;
    }
    &.input-text-item {
      padding: 1rem 1rem .25rem 1rem;
    }
    &.flex-item { // Used for inputs + CTA on same line
      display: flex;
    }
  }
}