.icon {
  height: 2rem;
  width: 2rem;
  display: block;
  margin: 0px auto;
  margin-bottom: .25rem;

}

.icon-large {
  height: 64px;
  width: 64px;
}

.demo-image-decorative {
  .icon {
    margin: 0;
  }

  .info-container,
  .telephone {
    display: flex;
    margin-bottom: 2rem;
  }
}