.select-container {
  margin-bottom: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  background-color: #fff;
  border-radius: 1rem;
  transition: .8s;
  @include float;


  &:before {
    content: '';
    display: block;
    justify-self: center;
    position: relative;

    top: .9rem;
    left: 0rem;
    grid-row: 2;
    grid-column: 1;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: transparent;
    background-image: var(--icon-chevron-gray);
    opacity: 1;
    background-size: 1.25rem 1.25rem;
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    box-shadow: 0 0 0rem .1rem transparent;
    transition: box-shadow .2s;
  }

  &:hover {
    &:before {
      box-shadow: 0 0 0rem .5rem rgba($color-focus,.2);
      background-image: var(--icon-chevron-dark);
    }
  }

  label {
    grid-column: span 2;
    @include headline;
    margin: 0 0 0 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    width: 100%;
    font-size: 1.25rem;
    float: left;
    background: #fff;
    position: relative;
    @include clearfix;
    border-bottom: 1px dotted $color-border-gray;
    border-radius: 1rem 1rem 0 0;
  }

  select {
    grid-row: 2;
    grid-column: 1 / 3;
    background: transparent;
    z-index: 9;
    border-radius: 1rem;
    border: none;
    margin-bottom: calc(2rem + 2px);
    font-weight: bold;
    display: block;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1rem;
    padding: 1.5rem 1rem 1.5rem 4rem !important;
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-shadow: 0 1px 2px 1px rgba(#000, .05);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
    }

    option {
      font-weight: normal;
    }
  }
  // Remove MS down arrow on the select
  select::-ms-expand {
    display: none;
  }
}
