.stepper {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: .5rem;
  padding: 1rem;
  background: #fff;
  max-width: 12rem;

  label {
    grid-column: 1 / span 3;
  }

  .minus {
    grid-column: 1 / span 1;
    grid-row: 2;

  }
  .plus {
    grid-column: 3 / span 1;
    grid-row: 2;
  }

  select[name="stepper-input"] {
    display: inline;
    position: relative;
    height: 3rem;
    text-indent: 1rem;
    //width: 1.5rem;
    overflow: visible;
    background: none;
    margin: 0px;
    padding: 0;
    border: none;
    line-height: 3rem;
    font-size: 1.5rem;
    grid-column: 2 / span 1;
    grid-row: 2;
    justify-self: stretch;

    &:focus {
      outline: .25rem solid rgba($color-focus, .5);
      outline-offset: 0rem;
      transition: .2s;
    }
  }
}
