input[type='checkbox']#show-password {
  + label {
    background: none;
    display: inline-block;
    border: none;
    padding: 0 1rem 0 2rem;
    width: auto;
    height: 2rem;
    line-height: 2rem;
    margin: 0;
    font-weight: normal;
    border: none;
    @include regular;

    &:before {
      content: '';
      width: 2rem;
      height: 2rem;
      background: none;
      background-image: url("data:image/svg+xml,%0A%3Csvg height='100px' width='100px' fill='black' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' x='0px' y='0px'%3E%3Ctitle%3EArtboard 17%3C/title%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M50,30.33C31.67,30.33,22.33,50,22.33,50S31.67,69.67,50,69.67,77.67,50,77.67,50,68.33,30.33,50,30.33ZM50,64A14,14,0,1,1,64,50,14,14,0,0,1,50,64Zm7.5-14A7.5,7.5,0,1,1,50,42.5,7.5,7.5,0,0,1,57.5,50Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      left: 0rem;
      top: 0rem;
      box-shadow: none;
    }
    &:after {
      content: 'unchecked';
      display: block;
      @extend .hidden;
    }
  }
  &:focus {
    + label {
      @extend .focused;
    }
  }
  &:checked{
    + label {
      &:before {
        content: '\2713';
        font-size: 1.5rem;
        text-align: center;
        background: none;
      }
      &:after {
        content: 'checked';
        display: block;
        @extend .hidden;
      }
    }
  }
}