select {
  background-color: #fff;
  background-image: var(--icon-chevron-dark);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: center right .75rem;
  z-index: 9;
  display: inline-block;
  border-radius: .25rem;
  border: 2px solid $color-input-border;
  margin: 0 0 calc(2rem + 2px) 0;
  display: inline-block;
  justify-self: start;
  font-size: 1rem;
  @include regular;
  padding: .75rem 3.5rem .75rem .5rem !important;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    border: .125rem solid darken($color-input-border, 50);
    box-shadow: 0 0px 4px 1px rgba(#000, .2);
  }

  option {
    font-weight: normal;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $color-gray-dark;
    background-image: var(--icon-chevron-gray);
    border: 2px solid $color-input-border;
    cursor: default;

  }

}
// Remove MS down arrow on the select
select::-ms-expand {
  display: none;
}

fieldset {
  select {
    margin-left: 1rem;
  }
}
