input[name='cardnumber'] {
  width: 16rem;
  font-family: monospace;
}

input[name='cvc'] {
  width: 4rem;
  font-family: monospace;
}

input[name='ccmonth'] {
  width: 2.5rem;
  border-radius: 2px 0 0 2px;
  margin-right: 0 !important;
  box-shadow: none;
  font-family: monospace;
}
input[name='ccyear'] {
  width: 2.5rem;
  border-left: none;
  border-radius: 0 2px 2px 0 ;
  margin-left: 0 !important;
  box-shadow: none;
  font-family: monospace;
}

.expiry-container {
  width: 100%;
  display: flex;
  position: relative;
}