
input[type="radio"],
input[type="checkbox"].radio,
.radio {
  + label,
  + .label {
    &:before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      position: relative;
      top: 0rem;
      left: 0rem;
      justify-self: center;
      background: #f2f2f2;
      transition: .4s;
      box-shadow: inset 0 0 0 .25rem $color-gray-xtra-dark, inset 0 0 0rem .5rem transparent, 0 0 0rem .5rem rgba($color-focus,0);
    }
  }

  + label:hover:before,
  &:focus + label:before {
    background: none;
    box-shadow: inset 0 0 0 .325rem $color-brand-primary, inset 0 0 0rem .5rem transparent, 0 0 0rem .5rem rgba($color-focus,.2);
  }
  &:active + label:before {
    box-shadow: inset 0 0 0 .5rem $color-brand-primary, inset 0 0 0rem .5rem transparent, 0 0 0rem .75rem rgba($color-focus,.4);
  }

  &.horizontal {
    + label {
      display: inline-grid;
      width: auto;
    }
  }
  &:checked {
    + label,
    .label.fake-radio.checked {
      &:before {
        transition: 0s;
        background-color: $color-brand-primary;
        box-shadow: inset 0 0 0 .25rem $color-brand-primary, inset 0 0 0rem .5rem #fff, 0 0 0rem 0 rgba($color-focus,.4);
      }
    }
    &:active + label:before {
      background-color: $color-brand-primary;
      box-shadow: inset 0 0 0 .25rem $color-brand-primary, inset 0 0 0rem .5rem #fff, 0 0 0rem .75rem rgba($color-focus,.4);
    }
  }
  &:disabled,
  &[aria-disabled="true"] {
    + label {
      &:before {
        background-color: $color-gray;
        background-image: $icon-check-dark;
        box-shadow: none !important;
      }
    }
  }
  
  &.tabs {
    @extend .horizontal;
    + label {
      @include ripple(#fff, #eee, center, center);
      padding: 1.25rem 0rem 1.25rem 0rem;
      grid-template-columns: 1fr 1.5rem;
      column-gap: .5rem;
      margin-top: .5rem;
      position: relative;
      text-indent: .5rem;

      @include break($break-small) {
        padding: 1.25rem 0rem 1.25rem 0rem;
      }
      &:first-of-type {
        text-indent: 0rem;

      }
      &:before {
        width: 1.5rem;
        height: 1.5rem;
        grid-column: 2;
        grid-row: 1;
      }
      &:after {
        grid-row: 2;
        grid-column: 1 / span 2;
        display: block;
        position: absolute;
        content: '';
        width: calc(100% + .25rem);
        margin-right: -.25rem;
        height: 1px;
        border-radius: 0;
        background: $color-brand-primary;
        bottom: 0;
        left: 0;
        transition: .4s;
        top: auto;
      }
    }

    &:checked + label {
      &:after {
        height: .5rem;
      }
    }
    // &:focus-visible + label {
    //   grid-template-columns: 2rem 1fr;
    //   column-gap: 1rem;
    //   padding: 1.25rem .5rem 1.25rem .5rem;
    //   &:before {
    //     display: block;
    //   }
    // }
  }
}

.label.fake-radio.checked {
  &:before {
    transition: 0s;
    background-color: $color-brand-primary;
    box-shadow: inset 0 0 0 .25rem $color-brand-primary, inset 0 0 0rem .5rem #fff, 0 0 0rem 0 rgba($color-focus,.4);
  }
}