input[role="switch"] {
  + label {
    padding-left: 6rem;
    &:before {
      content: '';
      text-align: right;
      font-size: 14px;
      line-height: 2rem;
      font-weight: normal;
      display: block;
      width: 2.5rem;
      padding: 0 .75rem 0 .75rem;
      height: 2rem;
      position: absolute;
      left: 1.25rem;
      top: 1rem;
      border-radius: 1rem;
      transition: box-shadow .4s, background-color .4s;
      border: none;
      box-shadow: none;
      speak: none;
      background-color: $color-gray-light;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22 16' style='enable-background:new 0 0 22 16;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M1.34,11.6C0.65,10.73,0.31,9.53,0.31,8c0-1.53,0.34-2.73,1.03-3.6S3,3.1,4.27,3.1c1.27,0,2.25,0.43,2.93,1.3 S8.24,6.47,8.24,8c0,1.53-0.34,2.73-1.03,3.6c-0.69,0.87-1.66,1.3-2.93,1.3C3,12.9,2.03,12.47,1.34,11.6z M5.76,10.3 C6.1,9.79,6.28,9.02,6.28,8S6.1,6.21,5.76,5.7C5.42,5.18,4.93,4.92,4.27,4.92S3.12,5.18,2.78,5.7C2.44,6.21,2.27,6.98,2.27,8 s0.17,1.79,0.51,2.3c0.34,0.52,0.84,0.78,1.49,0.78S5.42,10.82,5.76,10.3z'/%3E%3Cpath d='M14.98,5.07h-3.47v2.11h3.35v1.75h-3.35v3.74H9.62V3.32h5.36V5.07z'/%3E%3Cpath d='M21.69,5.07h-3.47v2.11h3.35v1.75h-3.35v3.74h-1.89V3.32h5.36V5.07z'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 1.5rem 1.5rem;
      background-position: 85% center;
      background-repeat: no-repeat;
    }
    &:after {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      position: absolute;
      left: 1.25rem;
      top: 1rem;
      background-color: #fff;
      transition: .4s;
      box-shadow: 0 1px 5px 1px rgba(#000,.0), inset 0 0px 0px 2px $color-gray-light;
    }
  }

  + label:hover:before,
  &:focus + label:before {
    background-color: rgba($color-focus, .4);
    color: darken($color-focus, 0);
    box-shadow: none;
    
  }
  + label:hover:after,
  &:focus + label:after {
    box-shadow: 0 0 0rem .5rem rgba($color-green,.4), inset 0 0px 0px 2px rgba($color-focus, .4);
  }

  &:checked + label {
    &:before {
      content: '';
      color: #fff;
      text-align: left;
      text-shadow: 0 0 3px rgba($color-green-dark,.4);
      background-color: $color-green;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22 16' style='enable-background:new 0 0 22 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M3.76,11.6C3.07,10.73,2.73,9.53,2.73,8c0-1.53,0.34-2.73,1.03-3.6c0.69-0.87,1.66-1.3,2.93-1.3 s2.25,0.43,2.93,1.3c0.69,0.87,1.03,2.07,1.03,3.6c0,1.53-0.34,2.73-1.03,3.6c-0.69,0.87-1.66,1.3-2.93,1.3S4.44,12.47,3.76,11.6z M8.18,10.3C8.52,9.78,8.69,9.02,8.69,8c0-1.02-0.17-1.79-0.51-2.3C7.84,5.18,7.34,4.92,6.69,4.92S5.54,5.18,5.2,5.7 C4.86,6.22,4.69,6.98,4.69,8c0,1.02,0.17,1.78,0.51,2.3c0.34,0.52,0.84,0.78,1.49,0.78S7.84,10.82,8.18,10.3z'/%3E%3Cpath class='st0' d='M19.27,3.32v9.35h-1.92l-3.35-5.85h-0.08v5.85h-1.89V3.32h1.92l3.36,5.88h0.08V3.32H19.27z'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 15% center;
    }
    &:after {
      content: '';
      left: 3.25rem;
      background-color: #fff;
      box-shadow: 0 0 0rem 0rem transparent, inset 0 0px 0px 2px  $color-green;
    }
  }
  &:checked:hover + label:after,
  &:checked:focus + label:after, {
    box-shadow: 0 0 0rem .5rem rgba($color-green,.4), inset 0 0px 0px 2px rgba($color-green, 1);
  }

  &:active {
    color: $color-brand-primary;
    + label {
      &:after {
        background-color: #fff;
        box-shadow: 0 0 0rem .75rem rgba($color-green,.4), inset 0 0px 0px 2px  $color-green;
        border: 0;
      }
    }
  }
}