.range-group {
  display: grid;
  grid-template-columns: 4rem 1fr ;
  background: #fff;
  padding: 1rem 1rem 1rem 0;
  border-radius: 1rem;
  @include float;
  transition: .8s;
  margin-bottom: 2rem;
  align-items: end;
}

.range-value {
  font-size: 2rem;
  border: none;
  background: none;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-bottom: .5rem;
  @include bold;
}


// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.4.1
// MIT License

$track-color: rgba(#000,.05) !default;

$track-width: 100% !default;
$track-height: 24px !default;

$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: #fff !default;
$track-border-width: 1px !default;

$track-border-color: transparent !default;

$track-radius: 2rem !default;


$thumb-color:  $color-brand-primary !default;
$thumb-radius: 24px !default;
$thumb-height: 48px !default;
$thumb-width: 48px !default;
$thumb-shadow-size: 3px !default;
$thumb-shadow-blur: 1px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 2px !default;
$thumb-border-color: #fff !default;
$contrast: 5% !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: 0 1px $shadow-size $shadow-blur $shadow-color, ;
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
  overflow: visible;
  position: relative;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  background: radial-gradient(circle, rgba(255,255,255,1) 30%, rgba(68,68,68,1) 31%);
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius $thumb-radius $thumb-radius $thumb-radius;
  box-shadow: 0 0 0px 0rem rgba($color-brand-primary,.4);

  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
  transform: rotate(-45deg);
  top: 0px !important;
  position: relative;
  transition: .2s;
}


$color: #ccc;

[type='range'] {
  display: block;
  -webkit-appearance: none;
  margin: 1rem 0 1rem 0;
  width: $track-width;
  border-radius: 2rem;
  margin-bottom: 1rem;
  position: relative;
  outline: none !important;
  transition: .8s;
  background-color: $track-color;
  background-image:
          linear-gradient(90deg, darken($color,8) 4px, transparent 4px),
          linear-gradient(0deg, darken($color,5) 4px, transparent 4px);
  background-size: calc(8.333333333333333%) 8px, calc(100% - 8.333333333333333%) 16px;
  background-position:  calc(8.333333333333333% / 2) 8px, 50% 14px;
  background-repeat: repeat-x, repeat-y;

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &::-moz-range-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent !important;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent !important;
    position: relative;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: 0;
  }

  &:focus,
  &:hover {
    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0px .5rem rgba($color-brand-primary,.4);
      background: radial-gradient(circle, rgba(#fff,1) 40%, rgba($color-brand-primary,1) 42%);
    }
  }
}