// This affects:
// input-password
// input-checkbox-radio
// input-switch
// star-rating

input[type="checkbox"] {
  + label {
    align-items: center;
    &:before {
      content: '';
      color: #fff;
      display: block;
      position: relative;
      border-radius: .125rem;
      top: 0rem;
      left: 0rem;
      justify-self: center;
      width: 1.75rem;
      height: 1.75rem;
      font-size: 0rem;
      line-height: 1.5rem;
      font-weight: normal;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 0% 0%;
      transition: .2s;
      box-shadow: inset 0 0 0 .25rem $color-gray-xtra-dark, 0 0 0rem .5rem rgba($color-focus,0);
    }
  }
  + label:hover:before,
  &:focus + label:before {
    background-color: #fff;
    box-shadow: inset 0 0 0 .325rem $color-brand-primary, 0 0 0rem .5rem rgba($color-focus,.2);
    border-color: $color-brand-primary;
  }
  &:checked {
    + label {
      &:before {
        content: '';
        font-size: 1.9rem;
        transition: .2s;
        text-align: center;
        box-shadow: inset 0 0 0 0 $color-brand-primary, 0 0 0rem 0rem rgba($color-focus,.4);
        background-color: $color-brand-primary;
        background-size: 120% 120%;
        background-image: var(--icon-check-white);
      }
      &:hover {
        &:before {
          box-shadow: inset 0 0 0 0 $color-brand-primary, 0 0 0rem .5rem rgba($color-focus,.2);
        }
      }
    }
    &:active + label:before {
      transition:  .2s;
      box-shadow: inset 0 0 0 0rem $color-brand-primary, 0 0 0rem .5rem rgba($color-focus,.4);
      border-color: $color-brand-primary;
    }
  }
  &:active + label:before {
    box-shadow: inset 0 0 0 .5rem $color-brand-primary, 0 0 0rem .75rem rgba($color-focus,.4);
    border-color: $color-brand-primary;
  }

  &:disabled,
  &[aria-disabled="true"] {
    + label {
      &:before {
        background-color: $color-gray;
        background-image: $icon-check-dark;
        box-shadow: none !important;
      }
    }
  }

}

.hint-checkbox {
  padding: 1rem;
}
