.stepper {
  display: inline-grid;
  width: auto;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: .5rem;
  padding: 1rem;
  background: #fff;
  label {
    grid-column: 1 / span 3;
  }

  .minus {
    grid-column: 1 / span 1;
    grid-row: 2;
    justify-self: center;
  }
  
  .plus {
    grid-column: 3 / span 1;
    grid-row: 2;
    justify-self: center;
  }

  .stepper-overlay {
    grid-column: 2 / span 1;
    grid-row: 2;
    justify-self: stretch;
    font-family: monospace;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    z-index: 2;
    pointer-events: none;
    &:after {
      justify-self: stretch;
      display: block;
      content: ''attr(data-selected)'';
    }
  }

  select[name="stepper-input"] {
    display: inline;
    position: relative;
    height: 3rem;
    appearance: none;
    overflow: visible;
    background: none;
    margin: 0px;
    padding: 0;
    border: none;

    grid-column: 2 / span 1;
    grid-row: 2;
    justify-self: stretch;
    font-family: monospace;
    transition: 0s;

    &:focus {
      outline: .25rem solid rgba($color-focus, .5);
      outline-offset: 0rem;
      transition: .2s;
    }
  }
}
