.password-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  max-width: 400px;

  label {
    line-height: 1.5rem;
  }

  #password {
    grid-column: span 2;
  }

  .hint {
    grid-column: span 2;
  }

  .password-toggle {
    display: grid;
  }

}

input[type='checkbox']#show-password {
  + label {
    background: none;
    display: inline-grid;
    justify-self: end;
    grid-template-columns: 1rem 1fr;
    column-gap: .5rem;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    line-height: 1.5rem;
    margin: 0 0 .5rem 0;
    font-weight: normal;
    border: 0;
    @include regular;
    outline-offset: .25rem !important;

    &:before {
      content: '';
      width: 1rem;
      height: 1rem;
      background: none;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      box-shadow: inset 0 0 0 2px $color-text;
      left: 0rem;
      top: 0;
    }
    &:after {
      content: 'unchecked, password is hidden';
      display: block;
      @extend .hidden;
    }
  }
  &:focus-visible {
    + label {
      outline: .25rem solid rgba($color-focus, 1);
      outline-offset: -.25rem;
      transition: .2s;
    }
  }
  &:checked{
    + label {
      &:before {
        content: "";
        font-size: 1.5rem;
        line-height: 1rem;
        background-image: $icon-check-dark;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        box-shadow: inset 0 0 0 0px $color-text;
      }
      &:after {
        content: 'checked, password is visible';
        display: block;
        @extend .hidden;
      }
    }
  }
}