input[role="switch"] {
  + label {
    padding-left: 1rem;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    
    &:before,
    &:after { 
      margin: -.25rem 0 -.25rem 0;
    }

    &:before { // Track
      content: '';
      display: block;
      grid-column: 1;
      grid-row: 1;
      width: 1.75rem;
      padding: 0 .75rem 0 .75rem;
      height: 2rem;
      position: relative;
      border-radius: 1rem;
      background-color: $color-toggle-track-off;
      transition: .4s;
      border: none;
      background-size: 1.75rem 1.75rem;
      background-position: 85% center;
      background-repeat: no-repeat;
      box-shadow: inset 0 0 0 0 $color-gray-light;
      transform: translateZ(0); // Hack to engage GPU to ensure smooth animation
    }

    &:after { // Handle
      content: '';
      display: block;
      left: 0rem;
      grid-column: 1;
      grid-row: 1;
      position: relative;
      width: calc(2rem - .5rem);
      height: calc(2rem - .5rem);
      border-radius: 2rem;
      border: .25rem solid $color-toggle-track-off;

      background-color: #fff;
      background-image: var(--icon-international-on-dark);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 0 0;


      transition: .2s;
      box-shadow: 0 1px 5px 1px rgba(#000,.0), inset 0 0px 0px .25rem $color-text;
    }
  }

  + label:hover:before,
  &:focus + label:before { // Track
    box-shadow: none;
    background-color: $color-toggle-track-off;
    transition: background-color .4s;
    box-shadow: inset 0 0 0rem .25rem rgba($color-text, .25);
  }

  + label:hover:after,
  &:focus + label:after { // Handle
    box-shadow: 0 0 0rem .5rem rgba($color-text,.4), inset 0 0px 0px 0rem rgba($color-text, 1);
    border-color: $color-text !important;
  }

  &:active {
    + label {
      &:before { // Track
        // background-color: rgba($color-text,.5);
        box-shadow: 0 0 0rem 0 rgba($color-text,.4), inset 0 0 0rem .25rem rgba($color-text,.5);
      }
      &:after { // Handle
        background-color: #fff;
        width: 2.25rem;
      }
    }
    &:checked {
      + label {
        &:before { // Track
          background-color: $color-gray-light;
          box-shadow: 0 0 0rem 0 rgba($color-text,.4), inset 0 0 0rem .25rem rgba($color-text,.5);
        }
        &:after { // Handle
          left: .5rem;
          background-size: 0 0;
        }
      }
    }
  }
    
  &:checked + label {
    &:before { // Track
      content: '';
      color: #fff;
      text-shadow: 0 0 3px rgba($color-text,.4);
      background-color: $color-text;
      background-image: none;
      transition: background-color .2s;
    }

    &:hover:before { // Track
      background-color: $color-text;
      transition: background-color .2s;
      box-shadow: inset 0 0 1rem .25rem $color-text;
    }
    &:after { // Handle
      content: '';
      left: 1.25rem;
      background-color: #fff;
      box-shadow: 0 0 0rem 0rem transparent, inset 0 0px 0px 0rem  $color-text;
      border-color: $color-text;
      background-image: var(--icon-international-on-dark);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1rem 1rem;
    }
  }

  &:checked:hover + label:after,
  &:checked:focus + label:after, { // Handle
    box-shadow: 0 0 0rem .5rem rgba($color-text,.4), inset 0 0px 0px 0 rgba($color-text, 1);
  }

  &:disabled,
  &[aria-disabled="true"],
  &[aria-disabled="true"]:focus-visible {
    + label,
    + label:hover {
      &:before { // Track
        background-color: $color-gray-light;
        background-image: none !important;
        box-shadow: none !important;
      }
      &:after { // Handle
        box-shadow: 0 0 0rem 0rem transparent, inset 0 0px 0px .25rem #777;
        background-color: $color-gray-xtra-light !important;
        border-color: $color-gray-light !important;
      }
    }
    &:checked {
      + label,
      + label:hover {
        &:before { // Track
        }
        &:after { // Handle
          background-color: #777 !important;
          box-shadow: 0 0 0rem 0rem transparent, inset 0 0px 0px 0rem $color-gray-light;
          background-image: var(--icon-international-on-white);
        }
      }
    }
  }
}