.radio-filter-container {
  border-radius: 1rem;
  position: relative;
  z-index: 99999;
  padding-bottom: 4rem;
  
  .radio-filter {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;

    @include break(0, $break-small) {
      input[type="radio"] + label {
        height: 0px;
        overflow: hidden;
        padding: 0rem;
        z-index: 9999;
        border-radius: 0 0 1rem 1rem;
      }
      input[type="radio"]:checked + label {
        clip: auto;
        height: auto;
        overflow: auto;
        padding: 1rem 0rem;
      }
      &:focus-within {
  
        input[type="radio"] + label {
          clip: auto;
          height: auto;
          overflow: auto;
          padding: 1rem 0rem;
        }
        input[type="radio"]:active + label:hover {
          position: relative !important;
        }   
      }
    }
  }
  @include break($break-small) {
    .radio-filter {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      input[type="radio"] + label {
        display: inline-grid;
        @include ripple(#fff, #eee, center, center);

        width: auto;
        &:first-of-type {
          border-radius: 0 0 0 1rem;
        }
        &:last-of-type {
          border-radius: 0 0 1rem 0;
        }
      }
    
    }
  }
}