.stepper {
  display: inline-grid;
  width: auto;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: .5rem;
  padding: 1rem;
  background: #fff;
  label {
    grid-column: 1 / span 3;
  }

  .minus {
    grid-column: 1 / span 1;
    grid-row: 2;
    justify-self: center;
  }
  
  .plus {
    grid-column: 3 / span 1;
    grid-row: 2;
    justify-self: center;
  }

  .plus[aria-disabled="true"]:hover:before, 
  .minus[aria-disabled="true"]:hover:before,
  .plus[aria-disabled="true"]:focus:before, 
  .minus[aria-disabled="true"]:focus:before {
    top: 0.75rem;
    left: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
  }

  .plus[aria-disabled="true"]:before,
  .minus[aria-disabled="true"]:before {
    filter: invert(.7);
  }

  .stepper-overlay {
    grid-column: 2 / span 1;
    grid-row: 2;
    min-width: 4rem;
    border-radius: 2px;
    justify-self: stretch;
    font-family: monospace;
    line-height: 3rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background-color:#fff;
    z-index: 2;
    pointer-events: none;
    
    &:after {
      justify-self: stretch;
      display: block;
      content: ''attr(data-selected)'';
    }
  }
  select[name="stepper-input"] {
    padding: 0.75rem 2rem 0.75rem 0.5rem !important;
    border: 2px solid #c5c5c5;
  }

}
