
input[type="radio"],
input[type="checkbox"].radio,
.radio {
  + label,
  + .label {
    &:before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      position: relative;
      top: 0rem;
      left: 0rem;
      justify-self: center;
      background: #f2f2f2;
      transition: .4s;
      box-shadow: inset 0 0 0 .25rem $color-gray-xtra-dark, inset 0 0 0rem .5rem transparent, 0 0 0rem .5rem rgba($color-focus,0);
    }
  }

  + label:hover:before,
  &:focus + label:before {
    background: none;
    box-shadow: inset 0 0 0 .325rem $color-brand-primary, inset 0 0 0rem .5rem transparent, 0 0 0rem .5rem rgba($color-focus,.2);
  }
  &:active + label:before {
    box-shadow: inset 0 0 0 .5rem $color-brand-primary, inset 0 0 0rem .5rem transparent, 0 0 0rem .75rem rgba($color-focus,.4);
  }

  &.horizontal {
    + label {
      display: inline-grid;
      width: auto;
    }
  }
  &:checked {
    + label,
    .label.fake-radio.checked {
      &:before {
        transition: 0s;
        background-color: $color-brand-primary;
        box-shadow: inset 0 0 0 .25rem $color-brand-primary, inset 0 0 0rem .5rem #fff, 0 0 0rem 0 rgba($color-focus,.4);
      }
    }
    &:active + label:before {
      background-color: $color-brand-primary;
      box-shadow: inset 0 0 0 .25rem $color-brand-primary, inset 0 0 0rem .5rem #fff, 0 0 0rem .75rem rgba($color-focus,.4);
    }
  }
  &:disabled,
  &[aria-disabled="true"] {
    + label {
      &:before {
        background-color: $color-gray;
        background-image: $icon-check-dark;
        box-shadow: none !important;
      }
    }
  }
  
  &.tabs {
    @extend .horizontal;
    + label {
      @include ripple(#fff, #eee, center, center);
      padding: 1.25rem 1rem 1.25rem;
      margin-top: .5rem;
      position: relative;
      &:after,
      &:before {
        display: none;      
      }
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: calc(100% + .25rem);
        height: 1px;
        border-radius: 0;
        background: $color-brand-primary;
        bottom: 0;
        left: 0;
        transition: .4s;
        top: auto;
      }
    }
    &:checked + label {
      &:after {
        height: .5rem;
        background: $color-brand-primary;
      }
   
    }
    + label:hover {
      &:after {
        height: .75rem;
        background: $color-brand-primary;  
      }
    }
  }
}

.label.fake-radio.checked {
  &:before {
    transition: 0s;
    background-color: $color-brand-primary;
    box-shadow: inset 0 0 0 .25rem $color-brand-primary, inset 0 0 0rem .5rem #fff, 0 0 0rem 0 rgba($color-focus,.4);
  }
}