.select-radio {
  border-radius: 1rem;
  position: relative;
  z-index: 99999;
  padding-bottom: 4rem;
  radio-container {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    input[type="radio"] + label {
      height: 0px;
      overflow: hidden;
      padding: 0rem;
      z-index: 9999;
    }
    input[type="radio"]:checked + label {
      clip: auto;
      height: auto;
      overflow: auto;
      padding: 1rem 0rem;
    }
    &:focus-within {

      input[type="radio"] + label {
        clip: auto;
        height: auto;
        overflow: auto;
        padding: 1rem 0rem;
      }
      input[type="radio"]:active + label:hover {
        position: relative !important;
      }   
    }
  }
}
