main {
  @include clearfix;
  padding: 0;
}

.container {
  display: block;
  max-width: $break-max;
  margin: 0 auto;
  padding-right: $gutter/2;
  padding-left: $gutter/2;

  &.narrow {
    max-width: $break-small;
  }
}


.highlight {
  margin-bottom: 2rem;
}


/*
* {
	border-top: 1px solid red;
}
*/


.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid $color-border-gray;
}

.post-content {
  margin-bottom: 2rem;
}

.billboard {
  display: grid;
  min-height: 50vh;
  margin-bottom: 3rem;
  background-color: $color-gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: end;
  background-size: cover !important;
  background-repeat: no-repeat;
  color: #fff !important;
}


.group-2 {
  display: grid;
  @include break($break-mid) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

.group-3 {
  display: grid;
  @include break($break-mid) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

.group-4 {
  display: grid;
  @include break($break-mid) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

.group-2-1 {
  display: grid;
  @include break($break-mid) {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2rem;
  }
}

.lowlight {
  background: rgba(#000, .5);
  padding: 2rem;
}

.display-list {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-top: 1px solid $color-border-gray;
  padding-top: 1rem;
  align-items: center;

  &:first-of-type {
    border-top: none;
  }
  @include break($break-mid) {
    display: block;
    border: none;

  }

}