main {
  @include clearfix;
  padding: 0;
}

.container {
  display: block;
  max-width: $break-max;
  margin: 0 auto;
  padding-right: $gutter/2;
  padding-left: $gutter/2;
  @include clearfix;

  &.narrow {
    max-width: $break-small;
  }
}


.highlight {
  margin-bottom: 2rem;
}


/*
* {
	border-top: 1px solid red;
}
*/


.section {
  padding-top: .5rem;
  padding-bottom: .5rem;

  @include break($break-small) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 0;
  padding: 0;

  .card {
    margin: 0;
    list-style-type: none;

    a {
      display: block;
      margin: 0px auto;
      max-width: 280px;
      padding: 2rem 1rem;
      text-align: center;
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: bold;
      text-decoration: none;
      background: #fff;
      border-radius: 2px;
      border-bottom: 3px solid $color-brand-primary;
      box-shadow: 0 1px 4px 1px rgba(#000,.1);
      
      svg {
        display: block;
        margin: 0px auto;
      }

      span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}

.post-content {
  margin-bottom: 2rem;
}