nav {
  display: grid;
  margin: 0rem auto 2rem auto;
  position: relative;
  border-radius: 2px;
  padding-bottom: 0;
  z-index: 999;

  a,
  button.expander-toggle {
    display: block;
    text-align: center;
    padding: 1.5rem .5rem 1.5rem .5rem;
    margin-bottom: -1px;
    text-decoration: none;
    position: relative;
    font-size: 1.125rem;
    line-height: 1rem;
    border: none;
    @include break($break-mid) {
      padding: 1.5rem 1rem 1.5rem 1rem;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0rem;
      left: 0;
      width: 100%;
      height: 1px;
      transition: .4s;
      background: $color-brand-primary;
    }
    &[aria-current="page"],
    &.current, {
      @include headline;
      &:after {
        content: '';
        height: .5rem;
      }
    }
    &:hover,
    &:focus {
      text-decoration: none;
      &:after {
        content: '';
        height: .5rem;
      }
    }
  }


  ul {
    display: flex;
    //justify-content: center;
    position: relative;
    padding: 0;
    margin: 1em auto 0 auto;
    width: 100%;

    li {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
      @include regular;

      &.home a {
        background-color: $color-brand-primary;
        color: #fff;
        @include regular;
        margin-right: .25rem; 
        padding-left: 1rem;
        padding-right: 1rem;

        @include break($break-mid) {
          font-size: 1.5rem;
          padding-left: 2rem;
          padding-right: 2rem;
          margin-right: 1rem;
          @include light;
        }
      }

      &.bravo {
        display: none;
        @include break($break-small) {
          display: block;
        }
      }
      &.expander-group {
        @include break($break-small) {
          display: none;
        }

      }
    }
  }

  .expander-group {
    box-shadow: none !important;
    padding: 0 !important;
    button.expander-toggle {
      font-family: $sans, sans-serif;
      font-size: 1rem;
      line-height: 1rem;
      background: transparent;
      &:before {
        display: none;
      }
      @include break(321px) {
        padding-right: 3.25rem;
        &:before {
          display: block;
        }
      }
    }
    .expander-toggle {
      font-size: 1.125rem !important;
      &[aria-expanded="true"] {
        border-bottom: none;
      }
    }
    ul.expander-content {
      position: absolute;
      width: 100%;
      left: 0;
      top: 4.25rem;
      margin: 0;
      padding: 0 !important;
      border: none;
      box-shadow: 0 1px 2px 1px rgba(#000,.2), 0 30px 18px -18px rgba(#000,0);

      li {
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-top: 1px solid $color-border-gray;
        a {
          text-align: left;
          padding: 1.5rem;
          display: block;
          margin: 0;
          &:after {
            display: none;
          }
          &:hover,
          &:focus {
            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: .5rem !important;
              height: 100%;
              background: $color-focus;
            }
          }
        }
        button.subnav {
          margin: 0 ;
          width: 4rem ;
          padding: 1rem ;
          top: 0 ;
          line-height: 1rem;
          right: 0 ;
          border: 1px solid $color-border-gray;
          border-right: none;
          max-height: 4.125rem;
          border-radius: 0;
          &:after {
            display: none;
          }
        }
        ul.expander-content {
          position: relative;
          z-index: 99;
          top: 0;
          li {
            display: flex !important;
            z-index: 99;
          }
        }
      }
    }
  }
}