nav.how-to-test {
    display: grid;
    background-color: #fff;
    @include float;
    border-radius: 1rem;
    transition: .8s;
    padding: 1rem;

    ul {
      display: grid;
      grid-template-columns: 1fr;
      position: relative;
      padding: 0;
      margin: 0;
      width: 100%;
    
      li {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;

        ul {
          border-top: .25rem solid $color-gray-light;
          border-bottom: .125rem solid $color-gray-light;
          padding-left: .75rem;
          // border-left: .25rem dotted $color-gray-light;
        }
  
        a {
          display: block;
          @include regular;
          margin-right: .25rem; 
          padding: .5rem 0;
          transition: .2s;
          border-radius: 2px;
          font-weight: bold;
          text-decoration: none;
  
          &:after {
            display: none;
          }
          &:hover {
            text-decoration: underline;
          }
          &[aria-current=page] {
            @include headline;
          }
        }
  
      }
    }
  
    
  }