.breadcrumbs {

  background-color: #fff;
  
  ol {
    margin: 0;
    padding: 1rem;

    @include break($break-small) {
      display: flex;
    }

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        display: flex;
        padding: .9rem 0 .9rem .75rem;
        position: relative;
        text-decoration: none;
        line-height: 1rem;

        @include break($break-small) {
          background: #eee;
          padding: .5rem 0 .5rem .75rem;
        }

        &:after {
          content: '';
          display: block;
          width: 1rem;
          height: 1rem;
          background-image: var(--icon-chevron-gray);
          background-repeat: no-repeat;
          background-size: 80%;
          background-position: center center;
          transform: rotate(-90deg);
        }

        &:hover,
        &:focus-visible {
          text-decoration: underline;
          color: $color-text;
          z-index: 9;
          &:after {
            background-image: var(--icon-chevron-dark);
          }
          @include break($break-small) {
            background-color: $color-gray-light;
          }
        }

      }

      &:first-of-type {
        @include break($break-small) {
          a {
            border-radius: .5rem 0 0 .5rem;
            padding-left: 1rem;
          }
        }
      }

      &:last-of-type {
        a {
          font-family: "teleneo-xtra-bold", sans-serif;
          padding-right: .75rem;
          border-radius: 0 .5rem .5rem 0;
          &:after {
            display: none;
          }
        }
      }

    }
  }

}