// Thanks to  https://css-tricks.com/html5-progress-element/


progress {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: calc(100%);
  height: 1rem;
  border: none;
  // box-shadow: 0 0 0 1rem #fff, 0 0 0 calc(1rem + 1px) $color-border-gray;
  background: linear-gradient(90deg, rgba(207,207,207,1) 49%, rgba(207,207,207,1) 85%, rgba(149,149,149,1) 100%);
  border-radius: 1rem;
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0 0 0 1rem #fff, 0 1rem .75rem -.25rem rgba(#000, .3);

  // Chrome/Safari styles the wrapping progress element itself
  &::-webkit-progress-bar {
    background-color: transparent;
    box-shadow: none;
    border-radius: 1rem;
  }

  @mixin progress-indicator-bar {
    background-color: #e20074;
    box-shadow: 2px 0 0 0 #cfcfcf, 0 0 1rem .5rem #cfcfcf;
    border-radius: 1rem;
  }

  // Firefox progress bar styles
  &::-moz-progress-bar {
    @include progress-indicator-bar;
  }

  // Styles progress indicator bar
  &::-webkit-progress-value  {
    @include progress-indicator-bar;
  }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
          font-size: 1rem;
          width: 3.5rem;
          height: 3.5rem;
          line-height: 3.5rem;
          border-radius: 1.75rem;
          display: block;
          background: $color-gray-xtra-dark;
          text-align: center;
          color: #fff;
}


.progress-busy {
  display: inline-block;
  margin-left: -1rem;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.progress-spinner {
  display: grid;
  margin: 0px auto;
  position: relative;
  width: calc(100px + 2rem);
  height: calc(100px + 2rem);
  padding: 1rem;
  border: none;
  border-radius: 50%;
  color: $color-text;
  text-align: center;
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none !important;
  outline-offset: .25rem;
  border-radius: 100px;
  animation: spin 2s linear infinite;
  background: conic-gradient(#fff,lighten($color-brand-primary, 30), $color-brand-primary, $color-brand-primary);

  &:after {
    content: '';
    display: block;
    background-color: #fff;
    width: calc(100px);
    height: calc(100px);
    border: none;
    border-radius: 50%;
    }
  progress {
    @extend .hidden; 
  }
}
