progress {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 2rem);
  height: 20px;
  margin: 1rem;
  box-shadow: 0 0 0 1rem #fff, 0 0 0 calc(1rem + 1px) $color-border-gray;
  border-radius: 0px;

  &::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  }
  &::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(-45deg,
                    transparent 33%, rgba(0, 0, 0, .1) 33%,
                    rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
                    rgba(255, 255, 255, .25),
                    rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}