// Thanks to  https://css-tricks.com/html5-progress-element/
progress {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 2rem);
  height: 20px;
  margin: 1rem;
  box-shadow: 0 0 0 1rem #fff, 0 0 0 calc(1rem + 1px) $color-border-gray;
  border-radius: 0px;

  &::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  }
  &::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(-45deg,
                    transparent 33%, rgba(0, 0, 0, .1) 33%,
                    rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
                    rgba(255, 255, 255, .25),
                    rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
          font-size: 1rem;
          width: 3.5rem;
          height: 3.5rem;
          line-height: 3.5rem;
          border-radius: 1.75rem;
          display: block;
          background: $color-gray-xtra-dark;
          text-align: center;
          color: #fff;
}


.progress-busy {
  display: inline-block;
  margin-left: -1rem;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.spinner {
  display: grid;
  margin: 0px auto;
  position: relative;
  width: calc(100px + 2rem);
  height: calc(100px + 2rem);
  border: none;
  border-radius: 50%;
  background: #fff;
  color: $color-text;
  text-align: center;
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none !important;
  outline-offset: .25rem;
  border-radius: 100px;
  border: 1rem solid $color-brand-primary;
  animation:spin 4s linear infinite;

  &::-webkit-progress-bar {
    box-shadow: none;
  }
  &::-webkit-progress-value {
    background: none;
  }
}
