
.product-list {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  align-items: start;
  margin: 0 0 2rem 0;
  padding: 0;
  justify-items: stretch;
  align-items: stretch;

  @include break($break-small) {
    grid-template-columns: 1fr 1fr;  
  }

  .offer-container {
    display: grid;
  }

  .product-list-item {
    display: grid;
    align-items: start;
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    list-style-type: none;
    background: #fff;
    border-radius: 1rem;
    list-style-type: none;
    transition: .8s;
    @include float;

    &:hover {
      .button {
        transition: .2s;
        background-color: $color-button-hover !important;
      }
    }
    
    .link-container {
      display: grid;
      position: relative;
      padding-bottom: 1rem;
      align-self: end;

      .product-heading {
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
        display: grid;
        outline: none;
        .brand {
          margin: 0;
        }
        .product-title {
          @extend .h-charlie;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          inset: 0 -1rem 0 -1rem;   
          border-radius: 1rem 1rem;
          transition: .2s;
          box-shadow: 0 0 0 0 rgba($color-brand-primary,.5);
          z-index: 1; // keeps the element on top of the image etc
        }
        &:hover {
          text-decoration: underline;
        }
        &:focus {
          &:after {
            box-shadow: 0 0 0 .25rem rgba(#000,.5);
          }
        }

      }
    }
  }
}

.product-image-container {
  display: grid;
  grid-row: 1;
  justify-content: center;
  background: $color-gray-xtra-light;
  margin-bottom: 0rem;
  aspect-ratio: 1;

  img {
    max-height: 12rem;
    justify-self: center;
    align-self: center;
    opacity: .5;
  }
}
.product-heading {
  grid-row: 3;
}
.product-pricing {
  margin: 0px;
  display: grid;
  padding-bottom: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .full-price {
    grid-column: span 2;
  }

}

.product-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .25rem;

  li {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: #777;
    border-radius: 100%;

    &.blue {
      background: blue;
    }
    &.red {
      background: red;
    }
    &.gold {
      background: $color-gold;
    }
  }
}

.product-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .25rem;
  margin: -1rem 0 0 0;
  justify-content: center;

  li {
    list-style-type: none;
    display: block;
    padding: .25rem .5rem;
    margin: 0;
    background: #fff;
    border-radius: 2px;

    &.rating {
      background: $color-gray-light;
    }
    &.network {
      color: #fff;
      background: $color-gray-dark;
    }
  }
}
