.secondary-nav {
    background: #fff;
    border: none;
    margin-bottom: calc(2rem + 2px);
    padding: 1rem;
    border-radius: 1rem;
    transition: .8s;
    box-shadow: 0 0.5rem 0.75rem 0 rgba(0, 0, 0, 0.04), 0 0 1rem 0 rgba(204, 204, 204, 0.08);
    
    @media(min-width: 720px){
        margin-left: -25px;
    }

    .current {
        font-family: "teleneo-xtra-bold", sans-serif;
        font-weight: normal;
    }
}