.sticky-wrapper {
  position: relative;
  //Adds margin around focusable items
  //Prevents elements from being hidden by sticky content
  *:focus-visible {
    scroll-margin: 10rem 0  10rem 0;
  }
}

.promo-bar {
  background: #fff;
  padding: 1rem 0 1rem 1rem;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px rgba(#000, .1);
  * {
    margin: 0 !important;
    display: inline-block;
  }
  button {
    margin-right: 1rem !important;
  }
  p {
    padding-bottom: 0;
  }
}

.vertical-spacer {
  height: 100vh;
  padding: 2rem;
  margin: 1rem 0;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNgYGCQwoKxgqGgcJA5h3yFAAs8BRWVSwooAAAAAElFTkSuQmCC);
}

.sticky {
  position: sticky;
  bottom: 0 !important;

  &.top {
    bottom: auto !important;
    top: 0px !important;

  }
}
