.tabs {
  display: inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
  align-items: stretch;
  background-color: #eee;
  padding: .25rem;
  column-gap: 2px;
  // box-shadow: inset 0 0 .5rem 1px rgba(#000, .1);
  border-radius: .75rem;
}

input[type="radio"].tab {
  @extend .horizontal;
  + label {
    @include ripple(#fff, #eee, center, center);
    padding: .5rem .75rem;
    flex-grow: 1;
    column-gap: .5rem;
    row-gap: .25rem;
    position: relative;
    border-radius: .25rem;
    grid-template-columns: 1fr;
    @include break($break-xsmall) {
      grid-template-columns: 1.5rem 1fr;
      padding: .75rem;
    }
    &:first-of-type {
      text-indent: 0rem;
      border-radius: .5rem .25rem .25rem .5rem;
    }
    &:last-of-type {
      text-indent: 0rem;
      padding-right: 1rem;
      border-radius:  .25rem .5rem .5rem .25rem;
    }
    &:before {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &:checked + label {
    background-color: #fff;
    box-shadow: 0 0 4px 1px rgba(#000, .1);
  }
}