table {
  table-layout: auto;
  margin: 0 0 2rem 0;
  padding: 0;
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 0 0 .5rem #fff;
  background-color: #fff;
  background-image: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  text-align: left;
  thead {
    border-bottom: 3px solid #000;
    th {
      @include headline;
      margin: 0;
      padding: .6rem 1rem .4rem 1px;
      vertical-align: top;
      font-weight: bold;
      line-height: 1.25;
      
      &:first-of-type {
        width: 7rem !important;
      }

      &[scope='col'] {
        border-top: none;
        @include headline;
      }
    }
  }
  tbody {
    td,
    th {
      padding: .6rem 1rem .4rem 1px;
      line-height: 1.25;
      border-top: 1px solid $color-border-gray;
      strong {
        display: inline-block;
        padding: 0px 7px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-weight: normal;
        background-color: #fff;
      }
      &[scope='row'] {
        @include headline;
      }
    }

  }
  
  caption {
    font-weight: bold;
    text-align: left;
    padding: .5rem 0;
    box-shadow: 0 0 0 .5rem #fff;
    background-color: #fff;
  }
  
  p {
    padding: 0;
  }

  &.column-2 {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 3rem;
    td, 
    th {
      width: 50%;
      vertical-align: top;
    }
  }

  &.comparison {
    position: relative;
    text-align: center;
    tr {
      @include break(0,$break-small) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    thead {
      @include break(0,$break-small) {
        position: sticky;
        top: -1px;
        background: #fff;
        margin: 0;
        box-shadow: 0 10px 10px -10px rgba(#000, .25);
        z-index: 99;
      }
      th:first-of-type {
        @include break(0,$break-small) {
          @include hidden;
        }
      }
    }
    th:first-of-type {
      width: auto !important;
      @include break(0,$break-small) {
        border-top: 2px solid #000;
      }
    }

    [scope=row] {
      @include break(0,$break-small) {
        display: block;
        width: auto !important;
        grid-column: 1/-1;
        font-size: 1.25rem;
      }
      details.compact {
        font-size: 1rem;
        @include regular;
        
        summary {
          @include break(0,$break-small) {
            font-size: 1.25rem;
          }
        }
        @include break($break-small) {
          text-align: left;
          display: block;
        }
      }
    }
  }
  &.subscription {
    th[scope=row] {
      @include break($break-small) {
        width: 300px !important;
        text-align: left;
      }
    }
  }
}