.tabs {
  display: inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
  align-items: stretch;
}

input[type="radio"].tab {
  @extend .horizontal;
  + label {
    @include ripple(#fff, #eee, center, center);
    padding: .5rem .75rem;
    flex-grow: 1;
    column-gap: .5rem;
    row-gap: .25rem;
    position: relative;
    border-top: 2px solid $color-border-gray;
    border-bottom: 2px solid $color-border-gray;
    border-right: 1px solid $color-border-gray;
    grid-template-columns: 1fr ;
    @include break($break-xsmall) {
      grid-template-columns: 1.5rem 1fr;
      padding: .75rem;
    }
    &:first-of-type {
      text-indent: 0rem;
      border-left:  2px solid $color-border-gray;
      border-radius: .5rem 0 0 .5rem;
      // @include break($break-xsmall) {
      //   border-radius: 2rem 0 0 2rem;
      // }
    }
    &:last-of-type {
      text-indent: 0rem;
      padding-right: 1rem;
      border-right:  2px solid $color-border-gray;
      border-radius: 0 .5rem .5rem 0;
      // @include break($break-xsmall) {
      //   border-radius: 0 2rem 2rem 0;
      // }
    }
    &:before {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}