// add styles to the body when the outermost <details> is [open]
body.test-case-open {
  max-width: calc(100vw - 420px);

  .test-case-flag {
    display: block !important;
  }

  * {
  }

}

details.test-case-wrapper {
  width: 420px;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 5px 1px rgba(#000000, .2);
  z-index: 9999;
  margin-bottom: 0 !important;

  &[open] {
    height: 100vh;
    overflow: scroll;
  }

  step-number {
    margin-left: 0;
    margin-right: .5rem;
  }
    
  details {
    margin-bottom: 0 !important;
    border-radius: 0;
    summary {
      margin-bottom: -1rem;

    }

    &[open] {
      margin-bottom: 1rem;
      summary {
        margin-bottom: 1rem;

      }
    }

  }

}

.test-case-flag {
  background: red !important;
  padding: .5rem .75rem .5rem 1.825rem;
  color: #fff;
  border-radius: 2rem;
  display: none;
  width: auto;
  margin: -.5rem;
  font-size: 12px;
  position: absolute !important;
  z-index: 99999;
  text-align: center;
  transform: rotate(-15deg);
  &:after,
  &:before {
    display: none;
  }

  &:before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: .6rem;
    left: .5rem;
    justify-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--icon-alert-black);
    transform: rotate(0deg);
    opacity: 1;
  }

  &.good {
    background: limegreen !important;
    &:before {
      top: .4rem;
      background-image: var(--icon-check-dark);
    }
  }
}