.tidbit {
	display: grid;
	grid-template-columns: 40px 1fr;
	align-content: start;
	max-width: 600px;
	padding: 1em;
	background: #fff;
	border-left: 4px solid #000;
    &.error {
        border-color: $tdds-critical-300;
        background: $tdds-critical-100;
    }
    &.caution {
        border-color: $tdds-caution-200;
        background-color: $tdds-caution-100;
    }
    &.error .icon svg {
        fill: $tdds-critical-300;
    }
    &.caution .icon svg {
        fill: $tdds-caution-200-darkened;
    }
	h2 { 
        margin: 0; 
        padding: 0; 
        font-size: 1.2rem;
        font-family: "teleneo-xtra-bold", sans-serif;
    }
	p { 
        margin: 0; 
    }
    a.tertiary {
        position: relative;
        font-weight: bold;
        text-decoration: none;
        font-family: "teleneo-xtra-bold", sans-serif;
        &:after {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: var(--icon-chevron-dark);
            opacity: 1;
            transform: rotate(270deg);
            vertical-align: middle;
        }
    }
}