.tidbit {
	display: grid;
	grid-template-columns: 40px 1fr;
	align-content: start;
	max-width: 600px;
	padding: 1em;
	background: #fff;
	border-radius: 1em;
	.icon {
    }
	h2 { 
        margin: 0; 
        padding: 0; 
        font-size: 1.2rem;
        font-family: "teleneo-xtra-bold", sans-serif;
    }
	p { 
        margin-top: 0; 
    }
    a {
        position: relative;
        font-weight: bold;
        text-decoration: none;
        font-family: "teleneo-xtra-bold", sans-serif;
        &:after {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: var(--icon-chevron-dark);
            opacity: 1;
            transform: rotate(270deg);
            vertical-align: middle;
        }
    }
}