example,
.example {
  // Link example styles
  .link-container {
    display: grid;
    position: relative;
    padding-bottom: 1rem;
    align-items: start;
    align-self: stretch;

      .product-heading {
        margin: 0.5rem 0;
        padding: 0;
      }

      a {
        text-decoration: none;
      }
  }

  .pagination a {
    @media (prefers-color-scheme: dark) {
      color: var(--color-text-primary);
    }
  }

  .product-heading {
    grid-row: 3;
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 0.5rem 0 1rem;
  }

  .product-heading a {
    font-size: 1.5rem;
  }

  .product-image-container {
    display: grid;
    grid-row: 1;
    justify-content: center;
    background: var(--color-surface);
    margin-bottom: 0;
    aspect-ratio: 1;
  }

  .product-image-container img {
    max-height: 16rem;
    align-self: center;
    opacity: .5;
  }

  .offer-container {
    font-size: 1.25rem;
    min-height: 3rem;
    text-align: center;

      svg {
        margin-right: .25rem;
      }

      .offer-btn {
        text-decoration: none;
        background-color: transparent;
        color: var(--color-on-tertiary);
        background-position: center center;
        transition: background 1s;
        border-radius: var(--magentaa11y-border-radius-size-2);
        padding: 0.25rem 3rem 1.25rem 2rem;
        border: none;
        font-size: 1.25rem;
        font-weight: var(--magentaa11y-font-weight-bold);
        cursor: pointer;

        &:hover::after {
          right: -10px;
        }

        &::after {
          content: url("../../assets/svgs/chevron-right.svg");
          display: inline-block;
          -webkit-mask: var(--headline-caret-icon);
          mask: var(--headline-caret-icon);
          -webkit-mask-position: center center;
          mask-position: center center;
          background-repeat: no-repeat;
          background-position: center center;
          position: relative;
          right: 0;
          top: 6px;
          height: 24px;
          width: 24px;
          min-height: 24px;
          min-width: 24px;
          transition: all 0.15s ease-in-out;
        }
      }
  }

  .big-links a {
    text-decoration: inherit;
    padding: 1rem;
    border-radius: var(--magentaa11y-border-radius-size-12);
  }

  .product-list-item {
    background: var(--color-text-on-primary);
    border-radius: var(--magentaa11y-border-radius-size-12);
    padding: 1.5rem;
    max-width: 400px;
    min-width: 280px;
    margin: 2rem 0;
  }

  .product-title {
    margin-bottom: 1rem;
  }

  .product-meta {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    margin: -1rem 0 0;
    justify-content: center;

    li {
      list-style-type: none;
      display: block;
      padding: .25rem .5rem !important;
      margin: 0;
      background: var(--magentaa11y-color-brand-grayscale-white);
      border-radius: var(--magentaa11y-border-radius-size-4);

      &.rating {
        background: var(--color-background-tertiary);
        font-weight: var(--magentaa11y-font-weight-bold);
      }

      &.network {
        color: var(--magentaa11y-color-brand-grayscale-white);
        background: var(--magentaa11y-color-brand-grayscale-700);
        font-weight: var(--magentaa11y-font-weight-bold);
      }
    }
  }

  .product-colors {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: block;
      padding: 0;
      margin: 0;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      background: var(--magentaa11y-color-brand-grayscale-700);
      border-radius: 100%;

        &.red {
          background: var(--magentaa11y-color-brand-status-critical-300);
        }

        &.gold {
          background: var(--color-success);
        }

        &.blue {
          background: var(--color-info);
        }
    }
  }

  .product-pricing {
    margin: 0;
    display: grid;
    padding: 1rem 0 0;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-top: var(--magentaa11y-border-weight-size-1) solid var(--magentaa11y-color-brand-grayscale-600);

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .full-price {
      grid-column: span 2;
    }
  }

  .pagination li {
    display: inline;

    a {
      font-weight: var(--magentaa11y-font-weight-semibold);
      color: var(--color-text-primary);
    }
  }
}
