example,
.example {
  .tidbit {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: start;
    max-width: 600px;
    padding: 1em;
    background: var(--color-text-on-primary);
    border-left: 4px solid var(--color-on-tertiary);

    &.error {
      border-color: var(--color-error-container);
      background-color: var(--color-on-error-container);

      svg {
        fill: var(--color-error-container);
      }
    }

    &.caution {
      border-color: var(--color-on-caution);
      background-color: var(--color-on-caution-container);

      svg {
        fill: var(--color-on-caution);
      }
    }

    @media (prefers-color-scheme: dark) {
      &.caution {
          border-color: var(--color-caution-container);

          svg {
            fill: var(--color-caution-container);
          }
        }
    }

    &.success {
      border-color: var(--color-success);
      background-color: var(--color-on-success-container);

      @media (prefers-color-scheme: dark) {
        &.success {
          border-color: var(--magentaa11y-color-brand-status-positive-300);
        }
    }

      svg {
        fill: var(--color-success);
        
          @media (prefers-color-scheme: dark) {
            fill: var(--magentaa11y-color-brand-status-positive-300);
          }
      }
    }

    h2 {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: underline;
      color: var(--color-on-tertiary);
    }
  }
}
