example, /* stylelint-disable-line selector-type-no-unknown */
.example {
  // global example form styles
  form {
    border-radius: 1rem;
    background: var(--color-background);
    box-shadow: 0 0.5rem 0.75rem 0 var(--color-background-secondary), 0 0 1rem 0 var(--color-background-tertiary);
    margin: 2rem 0;
    padding: 1rem;
  }

  input[aria-disabled="true"],
  input[disabled] {
    background: var(--color-background-secondary);
  }

  // text input styles within examples
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  input[type="button"] {
    border: 2px solid var(--color-on-background);
    border-radius: 2px;
    display: block;
    font-size: 1.125rem;
    margin: 1rem 0;
    padding: .75rem .5rem;
    width: auto;
  }

  input[type="text"]:disabled,
  input[type="text"][aria-disabled="true"] {
    background: var(--magentaa11y-color-brand-grayscale-300);

    @media (prefers-color-scheme: dark) {
      color: var(--color-text-disabled);
    }
  }

  input[type="checkbox"]:not([role="switch"]) {
    margin: 0.5rem 0;

    +label {
    display: inline;
    margin: 0.5rem 1rem 1rem 0
    }
  }



  // search input example
  form[role="search"] {
    box-shadow: 0 0 0 3px var(--color-on-primary);
    display: flex;
    transition: 0.7s;
    border-radius: 0.125rem;

    input[type="search"] {
      background-color: var(--color-on-primary);
      border: 2px solid var(--color-on-background);
      border-radius: 0;
      border-right: none;
      display: block;
      line-height: 0;
      margin: 0;
      padding: 0;
      position: relative;
      text-indent: 0.5rem;
      width: 100%;

      &::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    }

    button {
      background: var(--color-on-primary);
      border: 2px solid var(--color-on-tertiary);;
      border-left: none;
      display: block;
      height: 2.375rem;
      line-height: 0;
      margin: 0;
      padding: 0;
      position: relative;
      width: 2.25rem;
    }
  }

  label {
    display: block;
    font: var(--content-details-label-font);
    margin: 0 0 .5rem;
    position: relative;
  }

  .hint {
    margin: 0.675rem 0 1rem;
    padding: 0;
    color: var(--color-text-disabled);
    display: block;
    border-radius: 2px;

    @media (prefers-color-scheme: dark) {
      color: var(--color-text-primary);
    }
  }
}
