/* stylelint-disable no-descending-specificity */
example, /* stylelint-disable-line selector-type-no-unknown */
.example {
  padding: 2rem;
  background: var(--color-code-block); /* Adapts to theme */
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: block;

  .decorated {
    display: flex;
  }

  &--contains-icon {
    img {
      height: 2rem;
      width: 2rem;
      display: block;
    }
  }

  main {
    min-height: auto;
    display: block;
  }

  table {
    background: var(--color-text-on-primary);
  }
}
