example,
.example {
  // Password input show/hide styles
  // Show password input Toggle Button Text Visibility
  .button-variant[data-show-password="false"] .hide-pass {
    display: none;
  }

  .button-variant[data-show-password="true"] .show-pass {
    display: none;
  }
}
