example,
.example {
  .alert {
    display: flex;
    transition: 0.2s;
    padding: 1rem;
    margin-bottom: 1rem;

    &.enabled {
      line-height: 1rem;
      margin: 1rem 0;
      height: auto;
      max-height: 8rem;
    }

    &.inert {
      display: block;
      max-height: 0;
      padding: 0;
      overflow: hidden;
    }

    &.notification {
      background-color: var(--color-on-success-container);
      color: var(--magentaa11y-color-brand-grayscale-white);

      &::before {
        background-image:var(--icon-check-white)
      }
    }

      &.warning {
        background: var(--color-caution-container);

        &::before {
          content:'';
          background: url("../../assets/svgs/warning-filled.svg") no-repeat center center;
          width: 1.25rem;
          height: auto;
          margin-right: .5rem;

          @media (prefers-color-scheme: dark) {
            filter: invert(100%);
          }          
        }
      }

      &.success {
        background: var(--color-success);
        color: var(--color-text-on-primary);

          &::before {
            content:'';
            background: url("../../assets/svgs/checkmark.svg") no-repeat center center;
            filter: invert(100%);
            width: 1.25rem;
            height: auto;
            margin-right: .5rem;

            @media (prefers-color-scheme: dark) {
              filter: none;
            }
        }
      }
  }
}
