<script>
  $("input").on('change', function() {
        
    $cowbellValue = $("#cowbell").val();
    $abbreviation = $("#best-letter").val();
    
    console.log($cowbellValue);

    if( 
      $('#alphaCheckbox').is(":checked") &&
      $('#bravoCheckbox').is(":checked") &&
      $('#charlieCheckbox').is(":checked") &&
      $('#bravoRadio').is(":checked") &&
      $cowbellValue == 11 &&
      $('#alphaSwitch').is(":not(:checked)") && 
      $('#bravoSwitch').is(":checked") && 
      $('#charlieSwitch').is(":not(:checked)") && 
      $abbreviation == "a11y" || $abbreviation == "A11y" || $abbreviation == "A11Y"       
      ) {
      alert('correct');
      $("#showModal").removeAttr('disabled');
    }
  });
</script>