<div id="dynamic-app-container" 
     class="simp" 
     aria-live="polite" 
     tabindex="-1">

  <h2 class="h-bravo">
    NATO alphabet experience
  </h2>

  <ul class="slide-list">
    <li class="slide visible">
      <h3 class="h-charlie">
        Alpha
      </h3>
      <p>
        The NATO alphabet is the most widely used radiotelephone spelling alphabet.
      </p>
      <button class="next">
        Start
      </button>
    </li>

    <li class="slide inert">
      <h3 class="h-charlie">
        Bravo
      </h3>
      <p>
        To create the code, a series of international agencies assigned 26 code words acrophonically to the letters of the English alphabet.
      </p>
      <button class="tertiary previous">
        Back
      </button>
      <button class="next">
        Next
      </button>
    </li>

    <li class="slide inert">
      <h3 class="h-charlie">
        Charlie
      </h3>
      <p>
        This is the best NATO letter.
      </p>
      <button class="tertiary previous">
        Back
      </button>
      <button>
        Submit
      </button>
    </li>
  </ul>
</div>

