<div class="carousel">
  <h2 class="h-bravo" id="carousel-title">
    NATO alphabet slideshow
  </h2>

  <div class="carousel-nav">
    <button class="previous" aria-described="carousel-title">
      <span class="hidden">Previous slide</span>
    </button>
    <button class="next" aria-described="carousel-title">
      <span class="hidden">Next slide</span>
    </button>
  </div>

  <ul class="slide-list" role="group" aria-labelledby="carousel-title">
    <li class="slide visible" tabindex="-1">
      <h3 class="h-charlie" role="status">
        Alpha
        <span class="position">1 of 3</span>
      </h3>
      <p>
        Slide content
      </p>
      <button class="next">
        Start
      </button>
    </li>

    <li class="slide inert" tabindex="-1">
      <h3 class="h-charlie" role="status">
        Bravo
        <span class="position">2 of 3</span>
      </h3>
      <p>
        Slide content
      </p>
      <button class="tertiary previous in-slide">
        Back
      </button>
      <button class="next">
        Next
      </button>
    </li>

    <li class="slide inert" tabindex="-1">
      <h3 class="h-charlie" role="status">
        Charlie
        <span class="position">3 of 3</span>
      </h3>
      <p>
        This is the best slide
      </p>
      <button class="tertiary previous in-slide">
        Back
      </button>
      <button>
        Submit
      </button>
    </li>
  </ul>
</div>

