<figure id="figure">

  <svg class="chart"
       width="100%"
       height="300"
       aria-labelledby="title desc"
       role="img">

    <title id="title">
      Monthly usage data
    </title>

    <desc id="desc">
      Your usage peaked in December
    </desc>

    <rect role="graphics-symbol" aria-roledescription="bar"
          tabindex="0"
          aria-label="September 40%"
          x="0" y="0" width="20%" height="40%"></rect>

    <rect role="graphics-symbol" aria-roledescription="bar"
          tabindex="0"
          aria-label="October 20%"
          x="25%" y="0" width="20%" height="20%"></rect>

    <rect role="graphics-symbol" aria-roledescription="bar"
          tabindex="0"
          aria-label="November 60%"

          x="50%" y="0" width="20%" height="60%"></rect>

    <rect role="graphics-symbol" aria-roledescription="bar"
          tabindex="0"
          aria-label="December 100%"
          x="75%" y="0" width="20%" height="100%"></rect>

</svg>

  <figcaption>
    Source: Charlie Tango,
    <cite>Whiskey Hotel Foxtrot, 2016</cite>
  </figcaption>
</figure>