<p>
  People definitely read footnotes and find them helpful.
  <a class="footnote-link" id="footnote-link" href="#footnote-content">
    <sup>
      1
      <span class="hidden">Footnote details</span>
    </sup>
  </a>
</p>
<div class="vertical-spacer">
  <p><a href="/checklist-web/html/">Web page content</a>
    and <a href="/checklist-web/link/">links</a>
    or <a href="/checklist-web/button/">buttons</a>
    will be <a href="/how-to/">read</a>  
    in <a href="/checklist-web/html/">DOM (code) order</a>.</p>
</div>
<p id="footnote-content" tabindex="-1">
  That is not true. Nobody reads footnotes.
  <a href="#footnote-link">Back to content</a>
</p>
