<form aria-label="Sign in">
  <fieldset>
    <legend>
      Sign in
    </legend>
    <label for="username">
      Username
    </label>
    <input type="text" 
           id="username" >

  {% include examples/input-password.html %}
  <button class="button">
    Sign in
  </button>

  </fieldset>
</form>

<form aria-label="Subscribe to our newsletter">
  <fieldset>
    <legend>
      Subscribe to our newsletter
    </legend>
    <label for="email">
      Email
    </label>
    <input type="text" 
           id="email"
           autocomplete="email">
    <button class="button">
      Subscribe
    </button>
  </fieldset>
</form>