
<form aria-label="Shipping information">
  <fieldset>
    <legend>
      Shipping address
    </legend>

    <label for="given-name">
      First name
    </label>
    <input type="text" 
           id="given-name"
           autocomplete="given-name">

    <label for="additional-name">
      Middle initial
    </label>
    <input type="text" 
            id="additional-name"
            autocomplete="additional-name"
            maxlength="1">

    <label for="family-name">
      Last name
    </label>
    <input type="text" 
            id="family-name"
            autocomplete="family-name">

    <label for="address-line1">
      Address line 1
    </label>
    <input type="text" 
            id="address-line1"
            autocomplete="address-line1">
      
    <label for="address-line2">
      Address line 2
    </label>
    <input type="text" 
            id="address-line2"
            autocomplete="address-line2">
    
    <label for="address-level2">
      City
    </label>
    <input type="text" 
            id="address-level2"
            autocomplete="address-level2">

    <label for="address-level1">
      State
    </label>
    <input type="text" 
            id="address-level1"
            autocomplete="address-level1"
            maxlength="2">

    <label for="postal-code">
      Zip postal code
    </label>
    <input type="text" 
            id="postal-code"
            autocomplete="postal-code"
            maxlength="5">

    <button class="margin">
      Submit
    </button>
  </fieldset>
</form>