<h2>Img with empty alt</h2>
<img src="https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80" alt>

<ul>
  <li>NVDA+Firefox</li>
  <li>Voiceover+Safari: skips entirely</li>
</ul>

<h2>Img with empty alt=""</h2>
<img src="https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80" alt="">

<ul>
  <li>NVDA+Firefox</li>
  <li>Voiceover+Safari: skips entirely</li>
</ul>

<h2>Img with empty alt and aria-hidden="true"</h2>
<img src="https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80" alt aria-hidden="true">

<ul>
  <li>NVDA+Firefox</li>
  <li>Voiceover+Safari: skips entiely</li>
</ul>

<h2>Img with empty alt="" and aria-hidden="true"</h2>
<img src="https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80" alt="" aria-hidden="true">

<ul>
  <li>NVDA+Firefox</li>
  <li>Voiceover+Safari: skips entiely</li>
</ul>