<div class="image-decorative">
  <div class="informative">
    <img
      src="/assets/images/icons/icon-info.svg"
      aria-hidden="true" 
      class="icon"
      alt />
    <p>Note: Info icon from <a href="https://thenounproject.com/browse/icons/term/info/" target="_blank" title="Info Icons">Noun Project</a></p>
  </div>
  <a
    href="tel:8888888888"
    class="telephone">
    <!-- The phone icon would be repetitive in this case and should be hidden -->
    <img
      src="/assets/images/icons/icon-phone.svg"
      aria-hidden="true"
      class="icon"
      alt />
    Call us: 888-888-888
  </a>
</div>
