<div class="demo-image-decorative">
  <div class="info-container">
     <!-- The information icon would be repetitive in this case and should be hidden from assistive technology -->
    <img
      src="/assets/images/icons/icon-info.svg"
      aria-hidden="true" 
      class="icon"
      alt />
    <p>Note: Your plan might be changing soon.</p>
  </div>
  <a
    href="tel:8888888888"
    class="telephone">
    <!-- The phone icon would be repetitive in this case and should be hidden from assistive technology -->
    <img
      src="/assets/images/icons/icon-phone.svg"
      aria-hidden="true"
      class="icon"
      alt />
    Call us: 888-888-888
  </a>
</div>

