
<form class="password-container">
  <label for="password">
    Password
    <span class="helper" aria-hidden="true">
      Required
    </span>
  </label>
  <div id="password-toggle" class="password-toggle">
    <input type="checkbox" id="show-password">
    <label for="show-password">
      Show Password
    </label>
  </div>
  <input type="password"
         id="password"
         aria-describedby="password-toggle password-hint"
         aria-required="true"
         required>
  <div id="password-hint" class="hint">
    Use any length of characters including emojis.
  </div>
</form>