<label for="favorite-nato-letter">
  What is your favorite NATO letter?
  <span>Required</span>
</label>

<input type="text"
       id="favorite-nato-letter"
       aria-describedby="favorite-nato-error favorite-nato-hint"
       required>

<div role="alert" 
     id="favorite-nato-alert" 
     class="alert inert">
  <!--- Do not reference this alert element
        directly with aria-describedby -->
  <div id="favorite-nato-error">
    <!--- Use JS to inject the alert here -->
  </div>     
</div>

<div class="hint" id="favorite-nato-hint">
  Example: Alpha, Bravo, Charlie
</div>

<button id="show-error">
  Toggle error
</button>