<div class="stepper">
  <label for="stepper">
    Quantity
  </label>
  <button class="button minus">
    <span class="hidden">
      Decrease Quantity
    </span>
  </button>
  <select id="stepper"
          name="stepper-input"
          min="1"
          max="11"
          data-selected="1">
    <option label="1" selected>1</option>
    <option label="2">2</option>
    <option label="3">3</option>
    <option label="4">4</option>
    <option label="5">5</option>
    <option label="6">6</option>
    <option label="7">7</option>
    <option label="8">8</option>
    <option label="9">9</option>
    <option label="10">10</option>
    <option label="11">11</option>
  </select>
  <button class="button plus">
    <span class="hidden">
      Increase Quantity
    </span>
  </button>
  <!-- live container -->
  <div aria-live="polite" class="hidden" id="stepper-status-target"></div>
</div>
