<fieldset class="select-radio">
  <legend>
    Select a NATO Phoenetic Letter
  </legend>
  <div id="radio-select-container" tabindex="-1">
    <radio-container tabindex="-1">
      <input type="radio" name="select-radio" class="radio-select-item" id="default" checked>
      <label class="select-radio-label" for="default">None</label>
    
      <input type="radio" name="select-radio" class="radio-select-item" id="alphaRadio">
      <label class="select-radio-label" for="alphaRadio">Alpha</label>
    
      <input type="radio" name="select-radio" class="radio-select-item" id="bravoRadio">
      <label class="select-radio-label" for="bravoRadio">Bravo</label>
    
      <input type="radio" name="select-radio" class="radio-select-item" id="charlieRadio">
      <label class="select-radio-label" for="charlieRadio">Charlie</label>
    </radio-container>
  </div>
 </fieldset>
