<fieldset>
  <legend>Bad examples</legend>

  <input type="checkbox" role="switch" id="shippingBillingSwitch">
  <label for="shippingBillingSwitch">Shipping address matches billing</label>

  <input type="checkbox" role="switch" id="colorSwitch">
  <label for="colorSwitch">Activate filter by color</label>

  <input type="checkbox"
         role="switch"
         id="disableCallBlockingSwitch"
         checked>
  <label for="disableCallBlockingSwitch">Call blocking disabled</label>
</fieldset>


<fieldset>
  <legend>Better examples</legend>

  <input type="checkbox" 
         id="shippingBillingCheckbox">
  <label for="shippingBillingCheckbox">Shipping address matches billing</label>

  <input type="checkbox" 
         id="colorCheckbox">
  <label for="colorCheckbox">Filter by color</label>

  <input type="checkbox"
         role="switch"
         id="callBlockingSwitch"
         checked>
  <label for="callBlockingSwitch">Call blocking</label>
</fieldset>