<fieldset class="checkbox-radio-group" aria-describedby="styled-radio-group-helper-text">
  <legend>Choose your payment method:</legend>
  <!-- visually hidden helper text describing fieldset -->
  <span class="hidden" id="styled-radio-group-helper-text">
    Edit controls are available which follow each radio button
  </span>
  <input class="radio" type="radio" name="checkboxRadioGroup2" id="checkboxRadioAlpha2" checked>
  <label for="checkboxRadioAlpha2">
    Alpha
  </label>
  <button type="button" class="tertiary" aria-describedby="checkboxRadioAlpha2">
    Edit
  </button>

  <input class="radio" type="radio" name="checkboxRadioGroup2" id="checkboxRadioBravo2">
  <label for="checkboxRadioBravo2">
    Bravo
  </label>
  <button type="button" class="tertiary" aria-describedby="checkboxRadioBravo2">
    Edit
  </button>

  <input class="radio" type="radio" name="checkboxRadioGroup2" id="checkboxRadioCharlie3">
  <label for="checkboxRadioCharlie3">
    Charlie
  </label>
  <button type="button" class="tertiary" aria-describedby="checkboxRadioCharlie3">
    Edit
  </button>
</fieldset>