<fieldset class="select-radio" tabindex="-1" aria-labelledby="legend checked-radio">
  <legend id="legend" tabindex="-1">
    Select a NATO Phoenetic Letter
  </legend>

  <radio-container tabindex="0">
    <input type="radio" name="nato" class="radio-select-item" id="default" checked>
    <label for="default">None selected</label>
  
    <input type="radio" name="nato" class="radio-select-item" id="alphaRadio">
    <label for="alphaRadio">Alpha</label>
  
    <input type="radio" name="nato" class="radio-select-item" id="bravoRadio">
    <label for="bravoRadio">Bravo</label>
  
    <input type="radio" name="nato" class="radio-select-item" id="charlieRadio">
    <label for="charlieRadio">Charlie</label>
  </radio-container>

</fieldset>
