<fieldset class="checkbox-radio-group">
  <legend>Choose your payment method:</legend>
  <input class="radio"
         type="checkbox"
         role="radio"
         name="expanderList"
         id="expanderAlpha"
         checked>
  <label for="expanderAlpha">
    Alpha
  </label>
  <button type="button"
          class="tertiary">
    Edit
    <span class="hidden">
      payment method alpha
    </span>
  </button>

  <input  class="radio"
          type="checkbox"
          role="radio"
          name="expanderList"
          id="expanderBravo">
  <label for="expanderBravo">
    Bravo
  </label>
  <button type="button"
          class="tertiary">
    Edit
    <span class="hidden">
      payment method Bravo
    </span>
  </button>

  <input class="radio"
         type="checkbox"
         role="radio"
         name="expanderList"
         id="expanderCharlie">
  <label for="expanderCharlie">
    Charlie
  </label>
  <button type="button"
          class="tertiary">
    Edit
    <span class="hidden">
      payment method Charlie
    </span>
  </button>
</fieldset>