<fieldset class="checkbox-radio-group expander-group">
  <legend>Choose your plan:</legend>
  <input class="radio"
         type="checkbox"
         role="radio"
         name="checkboxRadioGroup"
         id="expanderAlpha"
         checked>
  <label for="expanderAlpha">
    Plan Alpha
  </label>
  <button type="button"
          class="expander-toggle"
          aria-expanded="false">
    <span class="hidden">Plan Alpha Description</span>
  </button>
  <div class="expander-content" aria-hidden="true">
    <p>This extra text is descriptive of Plan Alpha.</p>
  </div>

  <input  class="radio"
          type="checkbox"
          role="radio"
          name="checkboxRadioGroup"
          id="expanderBravo">
  <label for="expanderBravo">
    Plan Bravo
  </label>
  <button type="button"
          class="expander-toggle"
          aria-expanded="false">
    <span class="hidden">Plan Bravo Description</span>
  </button>
  <div class="expander-content" aria-hidden="true">
    <p>This extra text is descriptive of Plan Bravo.</p>
  </div>

  <input class="radio"
         type="checkbox"
         role="radio"
         name="checkboxRadioGroup"
         id="expanderCharlie">
  <label for="expanderCharlie">
    Plan Charlie
  </label>
  <button type="button"
          class="expander-toggle"
          aria-expanded="false">
    <span class="hidden">
      Plan Charlie Description.
    </span>
  </button>
  <div class="expander-content" aria-hidden="true">
    <p>This extra text is descriptive of Plan Charlie.</p>
  </div>
</fieldset>