val checkedState = remember { mutableStateOf(true) }
val stateNotSubscribed = "Not Selected"
val stateSubscribed = "Selected"
Row(
  modifier = Modifier
        .semantics {
            // custom description based on the state
            stateDescription = if (checkedState.value) { stateSubscribed } else { stateNotSubscribed }
            contentDescription = "Subscribe"
        }
        .toggleable(
            value = checkedState.value,
            onValueChange = { checkedState.value = it },
            role = Role.Checkbox
        )
  ) {
    Checkbox(
        modifier = Modifier.align(Alignment.CenterVertically),
        checked = checkedState.value,
        onCheckedChange = null
    )
    Text(text = "Subscription")
}