<figure>
  <img
    src="{{ site.baseurl}}/assets/images/examples/pie-chart.png"
    alt="2020 sales by item">

  <details>
    <summary>
      2020 sales
    </summary>

    <table id="sales-breakdown">
        <caption>
          Breakdown of 2020 sales percentages by item
        </caption>
        <thead>
          <tr>
            <th scope="column">
              Toilet paper
            </th>
            <th scope="column">
              Bread makers
            </th>
            <th scope="column">
              Moving boxes
            </th>
            <th scope="column">
              Exercise mats
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              38%
            </td>
            <td>
              18%
            </td>
            <td>
              12%
            </td>
            <td>
              32%
            </td>
          </tr>
        </tbody>
      </table>
  </details>
</figure>
