<ul class="product-list">
  <div class="product-list-item">
    <button type="button" class="primary" aria-label="Special offer for NoPhone Universe Max Extra Phabulous">
      Special offer
    </button>
    <div class="link-container">
      <img src="#" alt="product name">
      <a href="#" aria-describedby="colors pricing">
        <span class="brand">
          NoPhone
        </span>
        <span class="product-title">
          Universe Max Extra Phabulous
        </span>
      </a>
      <ul id="colors"  class="colors">
        <li class="blue"><span class="hidden">Blue</span></li>
        <li class="red"><span class="hidden">Red</span></li>
        <li class="yellow"><span class="hidden">Yellow</span></li>
        <li class="gray"><span class="hidden">Gray</span></li>
      </ul>
      <div id="pricing" class="pricing">
        $200.00
      </div>
    </div>
    <button class="tertiary">
      Add to cart
    </button>
  </div>
</div>

