<h2 class="h-bravo">Shop phones</h2>
<ul class="product-list">
  <li class="product-list-item">
    <button type="button" class="tertiary" aria-label="Save $400 with offer for NoPhone Universe Max Extra Phabulous">
      Save $400 with offer
    </button>
    <div class="link-container">
      <!-- The link DOES NOT wrap the entire description -->
      <h3 class="product-heading">
        <a class="product-link" href="/demos/" aria-describedby="meta colors pricing">
          <span class="brand">
            mPhone
          </span>
          <span class="product-title">
            Universe Max Extra Phabulous
          </span>
        </a>
      </h3>
      <div class="product-image-container">
        <img class="product-image" src="/assets/images/products/mobile-phone.png" alt="NoPhone Universe Max Extra Phabulous"/>
      </div>
      <ul id="meta" class="product-meta">
        <li class="rating">4.8 Stars</li>
        <li class="network">7G <span class="hidden">network compatibility</span></li>
      </ul>
      <ul id="colors" class="product-colors">
        <li class="red"><span class="hidden">Sunset Red</span></li>
        <li class="gold"><span class="hidden">Golden Canyon</span></li>
        <li class="blue"><span class="hidden">Blue</span></li>
        <li class="gray"><span class="hidden">Graphite</span></li>
      </ul>
      <ul id="pricing" class="product-pricing">
        <li class="monthly">
          <div><strong>Monthly</strong></div>
          <strong>
            $22.00<span class="hidden">,</span>
          </strong>
          <span class="hidden">
            Original price:
          </span>        
          <s>$50.00</s>
          <div>For 36 months</div>
        </li>
        <li class="today">
          <div><strong>Today</strong></div>
          $0
          <div>down + tax</div>
        </li>
        <li class="full-price">
          <strong>Full price</strong> $1,789<span class="hidden">,</span>
          <span class="hidden">
            Original price:
          </span>        
          <s>$1,998</s>
        </li>
      </ul>
      <div class="button" aria-hidden="true">
        See details
      </div>
    </div>
  </li>


  <li class="product-list-item">
    <button type="button" class="tertiary" aria-label="Save $400 with offer for NoPhone Universe Max Sorta Phabulous">
      Save $400 with offer
    </button>
    <div class="link-container">
      <!-- The link DOES NOT wrap the entire description -->
      <h3 class="product-heading">
        <a class="product-link" href="/demos/">
          <span class="brand">
            mPhone
          </span>
          <span class="product-title">
            Universe Max Sorta Phabulous
          </span>
        </a>
      </h3>
      <div class="product-image-container">
        <img class="product-image" src="/assets/images/products/mobile-phone.png" alt="NoPhone Universe Max Sorta Phabulous"/>
      </div>
      <ul id="meta" class="product-meta">
        <li class="rating">4.8 Stars</li>
        <li class="network">7G <span class="hidden">network compatibility</span></li>
      </ul>
      <ul id="colors" class="product-colors">
        <li class="red"><span class="hidden">Sunset Red</span></li>
        <li class="gold"><span class="hidden">Golden Canyon</span></li>
        <li class="blue"><span class="hidden">Blue</span></li>
        <li class="gray"><span class="hidden">Graphite</span></li>
      </ul>
      <ul id="pricing" class="product-pricing">
        <li class="monthly">
          <div><strong>Monthly</strong></div>
          <strong>
            $22.00<span class="hidden">,</span>
          </strong>
          <span class="hidden">
            Original price:
          </span>        
          <s>$50.00</s>
          <div>For 36 months</div>
        </li>
        <li class="today">
          <div><strong>Today</strong></div>
          $0
          <div>down + tax</div>
        </li>
        <li class="full-price">
          <strong>Full price</strong> $1,789<span class="hidden">,</span>
          <span class="hidden">
            Original price:
          </span>        
          <s>$1,998</s>
        </li>
      </ul>
      <div class="button" aria-hidden="true">
        See details
      </div>
    </div>
  </li>
</ul>