<h2 class="h-bravo">Product Card with multiple controls</h2>
<p>This example demonstrates an approach taken for when the card may have multiple controls within it.</p>
<div class="product-list multiple-controls">
  <div class="product-list-item">
    <div class="offer-container">
      <button type="button" class="tertiary" aria-label="Save $400 with offer for mPhone Universe Max Extra Phabulous">
        Save $400 with offer
      </button>
    </div>

    <div class="link-container">
      <!-- The link DOES NOT wrap the entire description -->
      <h3 class="product-heading">
        <a class="product-link" href="/demos/">
          <span class="brand">
            mPhone
          </span>
          <span class="product-title">
            Universe Max Extra Phabulous
          </span>
        </a>
      </h3>
      <div class="product-image-container">
        <img class="product-image" src="/assets/images/products/mobile-phone.png" alt="mPhone Universe Max Extra Phabulous"/>
      </div>
      <ul id="meta" class="product-meta">
        <li class="rating">4.8 Stars</li>
        <li class="network">7G <span class="hidden">network compatibility</span></li>
      </ul>
      <div class="end-cap">
        <ul id="colors" class="product-colors">
          <li class="red"><span class="hidden">Sunset Red</span></li>
          <li class="gold"><span class="hidden">Golden Canyon</span></li>
          <li class="blue"><span class="hidden">Blue</span></li>
          <li class="gray"><span class="hidden">Graphite</span></li>
        </ul>
        <ul id="pricing" class="product-pricing">
          <li class="monthly">
            <div><strong>Monthly</strong></div>
            <strong>
              $22.00<span class="hidden">,</span>
            </strong>
            <span class="hidden">
              Original price:
            </span>        
            <s>$50.00</s>
            <div>For 36 months</div>
          </li>
          <li class="today">
            <div><strong>Today</strong></div>
            $0
            <div>down + tax</div>
          </li>
          <li class="full-price">
            <strong>Full price</strong> $1,789<span class="hidden">,</span>
            <span class="hidden">
              Original price:
            </span>        
            <s>$1,998</s>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h2 class="h-bravo">Product Card as a single link</h2>
<p>This card is a single link and does not consist of any other nested controls. Use of <code>aria-labelledby</code> and <code>aria-describedby</code> to control how the card is announced by screen readers.</p>
<div class="product-list big-links">
  <div class="product-list-item">
    <a href="/demos/" 
      aria-labelledby="prod-0-eyebrow prod-0-name" 
      aria-describedby="prod-0-meta-rating prod-0-meta-network prod-0-colors product-0-price-monthly product-0-price-today product-0-price-full">
      <div class="offer-container">
        <svg style="display: inline-block;" role="img" aria-label="Promo" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg> 15% off your next order
      </div>
  
      <div class="link-container">
        <h3 class="product-heading">
            <span class="brand" id="prod-0-eyebrow">
              mPhone
            </span>
            <span class="product-title" id="prod-0-name">
              Universe Max Extra Phabulous
            </span>
        </h3>
        <div class="product-image-container">
          <img class="product-image" src="/assets/images/products/mobile-phone.png" alt=""/>
        </div>
        <ul id="meta" class="product-meta">
          <li class="rating" id="prod-0-meta-rating">4.8 Stars</li>
          <li class="network" id="prod-0-meta-network">7G <span class="hidden">network compatibility</span></li>
        </ul>
        <div class="end-cap">
          <span id="prod-0-colors" class="hidden">Four colors available</span>
          <!-- hide colors - use visually hidden text x colors avialable -->
          <!-- reduces verbosity and all colors are available on PDP -->
          <ul id="colors" class="product-colors" aria-hidden="true">
            <li class="red"></li>
            <li class="gold"></li>
            <li class="blue"></li>
            <li class="gray"></li>
          </ul>
          <ul id="pricing" class="product-pricing">
            <li class="monthly" id="product-0-price-monthly">
              <div><strong>Monthly</strong></div>
              <strong>
                $22.00<span class="hidden">,</span>
              </strong>
              <span class="hidden">
                Original price:
              </span>        
              <s>$50.00</s>
              <div>For 36 months</div>
            </li>
            <li class="today" id="product-0-price-today">
              <div><strong>Today</strong></div>
              $0
              <div>down + tax</div>
            </li>
            <li class="full-price" id="product-0-price-full">
              <strong>Full price</strong> $1,789<span class="hidden">,</span>
              <span class="hidden">
                Original price:
              </span>        
              <s>$1,998</s>
            </li>
          </ul>
        </div>
      </div>
    </a>
  </div>
</div>