<!-- Use aria-busy if content doesn't all load at once -->
<div id="really-slow-app" 
     aria-live="polite" 
     aria-busy="false">
     
  <button id="showModal">
    Launch spinner
  </button>

  <dialog role="dialog"
          class="takeover"
          id="modal"
          tabindex="-1"
          aria-modal="true"
          aria-labelledby="modal-title">
    <section>
      <div class="progress-spinner">
        <progress role="progressbar" 
                  id="modal-title" 
                  tabindex="0" 
                  aria-label="Loading">
      </div>
    </section>
  </dialog>
</div>
