<div class="sticky-wrapper">
  <div class="promo-bar sticky top">
    <button>Upgrade today</button>
    <p>Content that sticks to the top</p>
  </div>
  <div class="vertical-spacer">
    <p><a href="/checklist-web/html/">Web page content</a> 
    and <a href="/checklist-web/link/">links</a>
    or <a href="/checklist-web/button/">buttons</a>
    will be <a href="/how-to-test/">read</a>  
    in <a href="/checklist-web/html/">DOM (code) order</a>.</p>
  </div>
</div>
<div class="promo-bar">
  <button class="secondary">See more</button>
  <p>Content that is <em>not</em> sticky</p>
</div>
<div class="sticky-wrapper">
  <div class="vertical-spacer">
    <p><a href="/checklist-web/html/">Web page content</a>
    and <a href="/checklist-web/link/">links</a>
    or <a href="/checklist-web/button/">buttons</a>
    will be <a href="/how-to-test/">read</a>  
    in <a href="/checklist-web/html/">DOM (code) order</a>.</p>
  </div>
  <div class="promo-bar sticky">
    <button>Buy now</button>
    <p>Content that sticks to the bottom</p>
  </div>
</div>


