<table class="">
  <caption class="h-delta">
    JAWS summary list
  </caption>
  <thead>
    <th scope="col">
      Shortcut
    </th>
    <th scope="col">
      Action
    </th>
  </thead>
  <tbody>
  
  <tr>
    <th scope="row">
      Insert + F6
    </th>
    <td>
      List of all headings - Shows rotor: Select with L/R arrow keys
    </td>
  </tr>
  
  <tr>
    <th scope="row">
      Insert + F7	
    </th>
    <td>
      List of all links - Shows rotor: Select with L/R arrow keys
    </td>
  </tr>

  <tr>
    <th scope="row">
      Insert + F3	
    </th>
    <td>
      List of all landmarks - Shows rotor: Select with L/R arrow keys
    </td>
  </tr>

</tbody>
</table>