<table class="">
  <caption class="h-delta">
    NVDA basics
  </caption>
  <thead>
    <th scope="col">
      Shortcut
    </th>
    <th scope="col">
      Action
    </th>
  </thead>
  <tbody>

  <tr>
    <th scope="row">
      Insert + down arrow
    </th>
    <td>
      Start reading continuously from this point
    </td>
  </tr>

  <tr>
    <th scope="row">
      Down arrow
    </th>
    <td>
      Browse to the next element
    </td>
  </tr>
  
  <tr>
    <th scope="row">
      Up arrow
    </th>
    <td>
      Browse to the previous element
    </td>
  </tr>

  <tr>
    <th scope="row">
      Tab
    </th>
    <td>
      Focus the next interactive control
    </td>
  </tr>

  <tr>
    <th scope="row">
      Shift + tab
    </th>
    <td>
      Focus the previous interactive control
    </td>
  </tr>
  
  <tr>
    <th scope="row">
      Enter
    </th>
    <td>
      Activate a link
    </td>
  </tr>

  <tr>
    <th scope="row">
      Enter or spacebar
    </th>
    <td>
      Activate a button
    </td>
  </tr>

  <tr>
    <th scope="row">
      Cntrl
    </th>
    <td>
      Stop reading
    </td>
  </tr>

  <tr>
    <th scope="row">
      Insert + spacebar
    </th>
    <td>
      Toggle between browse and focus mode
    </td>
  </tr>

  </tbody>
</table>
