<table id="nato-table">
  <caption class="h-charlie">
    Nato phonetic Alphabet
  </caption>
  <thead>
    <tr>
      <th scope="row">
        Letter
      </th>
      <th scope="col">
        A
      </th>
      <th scope="col">
        B
      </th>
      <th scope="col">
        C
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        NATO
      </th>
      <td>
        Alpha
      </td>
      <td>
        Bravo
      </td>
      <td>
        Charlie
      </td>
    </tr>
  </tbody>
</table>