<table class="comparison">
  <caption class="center-text h-charlie">
    Screen reader and browser pairings
  </caption>
  <thead>
  <th scope="col">
    Platform
  </th>
  <th scope="col">
    Screenreader
  </th>
  <th scope="col">
    Browser
  </th>
  </thead>
  <tbody>
  <tr>
    <th scope="row">
      <img src="{{ site.baseurl }}/assets/images/icons/logo-apple.svg"
           role="img"
           alt="Apple"
           class="icon">
      iOS
    </th>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-apple.svg"
           role="img"
           alt="Apple"
           class="icon">
      VoiceOver
    </td>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-safari.svg"
           role="img"
           alt="Apple"
           class="icon">
      Safari
    </td>
  </tr>
  <tr>
    <th scope="row">
      <img src="{{ site.baseurl }}/assets/images/icons/logo-android.svg"
           role="img"
           alt=""
           class="icon">
      Android
    </th>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-talkback.svg"
           role="img"
           alt=""
           class="icon">
      Talkback
    </td>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-chrome.svg"
           role="img"
           alt=""
           class="icon">
      Chrome
    </td>
  </tr>
  <tr>
    <th scope="row">
      <img src="{{ site.baseurl }}/assets/images/icons/logo-windows.svg"
           role="img"
           alt=""
           class="icon">
      Windows
    </th>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-jaws.svg"
           role="img"
           alt=""
           class="icon">
      JAWS
    </td>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-chrome.svg"
           role="img"
           alt=""
           class="icon">
      Chrome
    </td>
  </tr>
  <tr>
    <th scope="row">
      <img src="{{ site.baseurl }}/assets/images/icons/logo-windows.svg"
           role="img"
           alt=""
           class="icon">
      Windows
    </th>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-nvda.svg"
           role="img"
           alt=""
           class="icon">
      NVDA
    </td>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-chrome.svg"
           role="img"
           alt=""
           class="icon">
      Chrome
    </td>
  </tr>
  <tr>
    <th scope="row">
      <img src="{{ site.baseurl }}/assets/images/icons/logo-apple.svg"
           role="img"
           alt="Apple"
           class="icon">
      MacOS
    </th>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-apple.svg"
           role="img"
           alt="Apple"
           class="icon">
      VoiceOver
    </td>
    <td>
      <img src="{{ site.baseurl }}/assets/images/icons/logo-safari.svg"
           role="img"
           alt="Apple"
           class="icon">
      Safari
    </td>
  </tr>
  </tbody>
</table>