<table class="comparison">
  <caption class="center-text">
    Coffee subscription comparison chart
  </caption>
  <thead>
  <th scope="col">
    Features
  </th>
  <th scope="col">
    Brown
  </th>
  <th scope="col">
    Brown MAX
  </th>
  </thead>
  <tbody>
  <tr>
    <th scope="row">
      Whole bean or ground
    </th>
    <td>
      Included
    </td>
    <td>
      Included
    </td>
  </tr>
  <tr>
    <th scope="row">
      Fair trade producers
    </th>
    <td>
      Included
    </td>
    <td>
      Included
    </td>
  </tr>
  <tr>
    <th scope="row">
      Monthly surprise bonus
    </th>
    <td>
      Included
    </td>
    <td>
      Included
    </td>
  </tr>
  <tr>
    <th scope="row">
      Small batch local roast
    </th>
    <td>
      Not included
    </td>
    <td>
      Included
    </td>
  </tr>
  <tr>
    <th scope="row">
      Tech support
    </th>
    <td>
      Not included
    </td>
    <td>
      Included
    </td>
  </tr>
  <tr>
    <th scope="row">
      <span class="hidden">Choose your plan</span>
    </th>
    <td>
      <button aria-label="Select Brown">Select</button>
    </td>
    <td>
      <button aria-label="Select Brown">Select</button>
    </td>
  </tr>
  </tbody>
</table>