<table class="comparison subscription">
  <caption class="center-text">
    Coffee subscription comparison chart
  </caption>
  <thead>
    <tr>
      <th scope="col">
        Features
      </th>
      <th scope="col">
        Brown
      </th>
      <th scope="col">
        Brown MAX
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        Whole bean or ground
      </th>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-checkmark.svg"
        role="img"
        alt=""
        class="icon">
        Included
      </td>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-checkmark.svg"
        role="img"
        alt=""
        class="icon">
        Included
      </td>
    </tr>
    <tr>
      <th scope="row">
        <details class="compact">
          <summary>
            Fair trade producers
          </summary>
          Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </details>      
      </th>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-checkmark.svg"
        role="img"
        alt=""
        class="icon">
        Included
      </td>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-checkmark.svg"
        role="img"
        alt=""
        class="icon">
        Included
      </td>
    </tr>
    <tr>
      <th scope="row">
        <details class="compact">
          <summary>
            Monthly surprise bonus
          </summary>
          Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </details>
      </th>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-checkmark.svg"
        role="img"
        alt=""
        class="icon">
        Included
      </td>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-checkmark.svg"
        role="img"
        alt=""
        class="icon">
        Included
      </td>
    </tr>
    <tr>
      <th scope="row">
        Small batch local roast
      </th>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-x.svg"
        role="img"
        alt=""
        class="icon">
        Not included
      </td>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-checkmark.svg"
        role="img"
        alt=""
        class="icon">
        Included
      </td>
    </tr>
    <tr>
      <th scope="row">
        Tech support
      </th>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-x.svg"
        role="img"
        alt=""
        class="icon">
        Not included
      </td>
      <td>
        <img src="{{ site.baseurl }}/assets/images/icons/icon-checkmark.svg"
        role="img"
        alt=""
        class="icon">
        Included
      </td>
    </tr>
    <tr>
      <th scope="row">
        <span class="hidden">Choose your plan</span>
      </th>
      <td>
        <button aria-label="Select Brown plan">Select</button>
      </td>
      <td>
        <button aria-label="Select Brown MAX plan">Select</button>
      </td>
    </tr>
  </tbody>
</table>