  <table id="nato-table">
    <caption>
      NATO Phoenetic Alphabet
    </caption>
    <thead>
      <tr>
        <th scope="row">
          Letter
        </th>
        <th scope="column">
          A
        </th>
        <th scope="column">
          B
        </th>
        <th scope="column">
          C
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          NATO
        </th>
        <td>
          Alpha
        </td>
        <td>
          Bravo
        </td>
        <td>
          Charlie
        </td>
      </tr>
    </tbody>
  </table>