<label for="message">
  Your message
</label>
<textarea 
  id="message"
  maxlength="50"
  aria-describedby="charcounter">
</textarea>
<!-- Do not reference the status element with aria-describedby 
      Doing so will not work in VoiceOver -->
<div id="charcounter" class="hint" aria-hidden="true">
  <span id="currentChars">50</span> of 50 <span class="hidden">characters remaining</span>
</div>
<div class="hidden" id="sr-counter-output-wrapper" role="status">
  <span id="sr-counter-target">50</span> of 50</span> characters remaining
</div>
