
<fieldset>
  <legend>Choose your cookies</legend>
  <input type="checkbox" role="switch" id="marketingCookies" checked>
  <label for="marketingCookies">Optional marketing cookies</label>
</fieldset>

<div id="toast-container" class="toast-container">
  <div id="toast" class="toast inert">
    <span id="toast-message" role="status">
      <!-- Inject snackbar message here -->
    </span>
    <button type="button">
      <span class="hidden">
        Dismiss
      </span>
    </button>
  </div>
</div>