---
layout: default
---

<div class="container">
  <h1 class="h-alpha">
    {{ page.title | escape }}
  </h1>
</div>
<div class="container post-content">
  {{ content }}
</div>
<div class="container">
  <form>
    <div class="success-criteria-maker">
      <div class="checklist-container">
        {% assign ordered_pages = site.checklist-web | sort: "title" %}

        {% assign categories =  ordered_pages | map: 'categories' | join: ','  | split: ',' | uniq  %}
        {% for category in site.web-categories-order %}
          <div class="checklist-details fake-details">
            <div class="expander-group temp-details-summary-fix">
              <button type="button" class="expander-toggle" aria-expanded="true" id="{{ category | escape }}-details" class="checklist-details">
                <strong><span aria-hidden="true">&lt;</span>{{ category | escape }}<span aria-hidden="true">&gt;</span></strong>
              </button>
              <div class="expander-content visible" aria-hidden="false">
                <ul>
                  {% for page in ordered_pages %}
                  {% include checklist-loop.html %}
                  {% endfor %}
                </ul>
              </div>
            </div><!-- .expander-group -->           
          </div><!-- .checklist-details -->
        {% endfor %}
      </div>
      {% include criteria-textarea.html %}
    </div>
  </form>
</div>