<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body onload="setModifiedDate();" class="preload">
    <div class="page-wrapper">
      {%- include header.html -%}

      <main id="content">
      {{ content }}
      </main>
  
      {%- include footer.html -%}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/js-vendor/jquery-validate.js?{{site.time | date: '%s'}}"></script>
    <script src="{{ site.baseurl }}/assets/scripts/index.js?{{site.time | date: '%s'}}"></script>
    <script>
      $("body").removeClass("preload"); // Prevents animations on pageload
    </script>
</body>
</html>
