<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body onload="setModifiedDate();">

    {%- include header.html -%}

    <main id="content">
    {{ content }}
    </main>

    {%- include footer.html -%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/index.js?{{site.time | date: '%s'}}"></script>
    <script>
      $(".criteria-checkbox").change(function() {
          var condensedArr = [];
          var gherkinArr = [];
          condensedArr.push([ '#a11y - {{ page.url | replace: '/', '' | capitalize }} Accessibility Acceptance Criteria' ]);
          gherkinArr.push([ '#a11y - {{ page.url | replace: '/', '' | capitalize }} Accessibility Acceptance Criteria' ]);

          $(".criteria-checkbox:checked").each(function(){
              var $this = $(this);
              condensedArr.push([ $this.data('condensed-criteria') ]);
              gherkinArr.push([ $this.data('gherkin-criteria') ]);
          });
          
          var textareaCondensed = document.getElementById("condensed-textarea");
          textareaCondensed.value = condensedArr.join("\n");

          var textareaGherkin = document.getElementById("gherkin-textarea");
          textareaGherkin.value = gherkinArr.join("\n");

      });
      $("#copy-gherkin").click(function(){
          $("#gherkin-textarea").select();
          document.execCommand('copy');
      });
      $("#copy-condensed").click(function(){
          $("#condensed-textarea").select();
          document.execCommand('copy');
      });

      function setModifiedDate() {
        if (document.getElementById('last-modified')) {
          fetch("https://api.github.com/repos/tmobile/magentaA11y/commits?path={{ page.path }}")
            .then((response) => {
              return response.json();
            })
            .then((commits) => {
              var modified = commits[0]['commit']['committer']['date'].slice(0,10);
              if(modified != "{{ page.date | date: "%Y-%m-%d" }}") {
                document.getElementById('last-modified').textContent = "Last modified: " + modified;
              }
            });
          }
        }
    </script>
  </body>
</html>
