---
layout: default
---
<article>
  <div class="container">
    <h1 class="h-alpha">
      {{ page.title | escape }}
    </h1>
  </div>
  <div class="success-criteria-entry container">

    <div class="success-criteria" itemscope itemtype="http://schema.org/HowTo">

      <h2 class="h-bravo" itemprop="name">
        How to test
        {% assign firstLetter = page.title | downcase | slice: 0 %}
        {% if firstLetter == 'a' or firstLetter== 'e' or firstLetter== 'i' or firstLetter== 'i' or firstLetter== 'u' %}
        an
        {% else %}
        a
        {% endif %}
        {{ page.title | escape | downcase }}
      </h2>

      <div class="test-instructions tab-group">
        {% if page.gherkin-keyboard and page.gherkin-keyboard != "" %}
          <div class="tabs">
            <input type="radio" aria-label="Show gherkin story acceptance criteria" class="tab" aria-controls="gherkin-panel" id="gherkin" name="criteria" checked>
            <label for="gherkin">Gherkin</label>
            <input type="radio" aria-label="Show condensed testing instructions" class="tab" aria-controls="condensed-panel" id="condensed" name="criteria">
            <label for="condensed">Condensed</label>
            <input type="radio" aria-label="Show design criteria" class="tab" aria-controls="design-panel" id="design" name="criteria">
            <label for="design">Design</label>
          </div>
        {% endif %}

        {% if page.gherkin-keyboard and page.gherkin-keyboard != "" %}
        <div class="gherkin-criteria tab-panel" id="gherkin-panel" tabindex="0" role="region" aria-label="Gherkin story acceptance criteria">
          <p class="" itemprop="name">
            <strong>Given that</strong> I am on a page with 
            {% assign firstLetter = page.title | downcase | slice: 0 %}
            {% if firstLetter == 'a' or firstLetter== 'e' or firstLetter== 'i' or firstLetter== 'i' or firstLetter== 'u' %}
            an
            {% else %}
            a
            {% endif %}
            {{ page.title | escape | downcase }}
          </p>

          <div id="step1" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
            <h3 class="h-charlie" itemprop="name">
              <step-number>1</step-number> Keyboard for mobile &amp; desktop
            </h3>

            <ul class="gherkin-list">
              {% for action in page.gherkin-keyboard limit:1 %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
                  <div itemprop="text">
                    <strong>WHEN</strong> I use {{ action.when }} 
                    <strong>I SEE</strong> {{ action.result }}  
                  </div>
                </li>
              {% endfor %}
              {% for action in page.gherkin-keyboard offset:1 %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
                  <div itemprop="text">
                    <strong class="uppercase">{{ action.first[0] | capitalize  }}</strong> when I use {{ action.first[1] }}  
                    <strong>I SEE</strong> {{ action.result }}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
 
          <div id="step2" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
            <h3 class="h-charlie" itemprop="name">
              <step-number>2</step-number> Desktop screenreader
            </h3>
            <ul class="gherkin-list">
              {% for action in page.gherkin-keyboard limit:1 %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
                  <div itemprop="text">
                    <strong>WHEN</strong> I use a desktop screenreader (NVDA, JAWS, VoiceOver) 
                    <strong>AND</strong>  
                    {% for action in page.gherkin-keyboard limit:1 %}
                      I use {{ action.when }} 
                      <ul>
                        {% for requirement in page.screenreader %}
                          <li>
                            <strong>I HEAR</strong>
                            <span class="lowercase">{{ requirement[1] | escape }}</span>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endfor %}
                  </div>
                </li>
              {% endfor %}

              {% for action in page.gherkin-keyboard offset:1 %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
                  <div itemprop="text">
                    <strong class="uppercase">{{ action.first[0] | capitalize  }}</strong> when I use {{ action.first[1] }}  
                    <strong>I HEAR</strong> 
                    <span class="lowercase">{{ action.result }}</span>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div id="step3" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">

            <h3 class="h-charlie" itemprop="name">
              <step-number>3</step-number> Mobile screenreader
            </h3>
            <ul class="gherkin-list">
              {% for action in page.gherkin-mobile limit:1 %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
                  <div itemprop="text">
                    <strong>WHEN</strong> I use a mobile screenreader (Talkback, VoiceOver) 
                    <strong>AND</strong> 
                    {% for action in page.gherkin-mobile limit:1 %}
                      I {{ action.when }} 
                      <ul>
                        {% for requirement in page.screenreader %}
                          <li>
                            <strong>I HEAR</strong>
                            <span class="lowercase">{{ requirement[1] | escape }}</span>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endfor %}
                  </div>
                </li>
              {% endfor %}
              {% for action in page.gherkin-mobile offset:1 %}
                {% if action and action != "" %} 
                  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
                    <div itemprop="text">
                      <strong class="uppercase">{{ action.first[0] | capitalize  }}</strong> when I {{ action.first[1] }} 
                      <strong>I HEAR</strong> <span class="lowercase">{{ action.result }}</span>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

        <div class="condensed-criteria tab-panel inert" id="condensed-panel" tabindex="0" role="region" aria-label="Condensed testing instructions" {% if page.url contains "native" %}style="display:block;"{% endif %}>
          <div id="step1" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
            <link itemprop="url" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}#step1" />
            <h3 class="h-charlie" itemprop="name">
              <step-number>1 </step-number>Keyboard {% if page.url contains "native" %}actions{% endif %}{% unless page.url contains "native" %}only &amp; screenreader{% endunless %}
            </h3>
            <div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
              <table itemprop="text">
                <thead>
                <tr>
                  <th scope="col">When I use</th>
                  <th scope="col">I see/hear</th>
                </tr>
                </thead>
                <tbody>
                {% for action in page.keyboard %}
                <tr>
                  <th scope="row">{{ action[0] | capitalize }}</th>
                  <td>{{ action[1] | escape }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
  
          <div id="step2" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
            <link itemprop="url" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}#step2" />
            <h3 class="h-charlie" itemprop="name">
              <step-number>2 </step-number>Mobile screenreader gestures
            </h3>
            <div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
              <table itemprop="text">
                <thead>
                <tr>
                  <th scope="col">When I use</th>
                  <th scope="col">I hear</th>
                </tr>
                </thead>
                <tbody>
                {% for gesture in page.mobile %}
                <tr>
                  <th scope="row">{{ gesture[0] | capitalize  }}</th>
                  <td>{{ gesture[1] | escape }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
  
          <div id="step3" itemprop="step" itemscope itemtype="http://schema.org/HowToStep">
            <link itemprop="url" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}#step3" />
            <h3 class="h-charlie" itemprop="name">
              <step-number>3 </step-number>Screenreader output for all devices
            </h3>
            <div itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
              <table itemprop="text">
                <thead>
                <tr>
                  <th scope="col">Reads</th>
                  <th scope="col">I hear</th>
                </tr>
                </thead>
                <tbody>
                {% for requirement in page.screenreader %}
                  <tr>
                    <th scope="row">{{ requirement[0] | capitalize  }}</th>
                    <td>{{ requirement[1] | escape }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="post-content">
      {% for video in site.video-demos limit:1 %}
        {% assign path = page.id | replace: page.slug , ""  | prepend: '/assets/media/video' | append: video.directory | append: page.slug | append: ".mp4"  %}
        {% assign file_exists = site.static_files | where: "path", path  %}
        {% if file_exists.size != 0 %}
          <h2 class="h-bravo">
            Video examples
          </h2>
        {% endif %}
      {% endfor %}

      <media-gallery>
        {% for video in site.video-demos %}
          {% assign path = page.id | replace: page.slug , ""  | prepend: '/assets/media/video' | append: video.directory | append: page.slug | append: ".mp4"  %}
          {% assign file_exists = site.static_files | where: "path", path  %}
          {% if file_exists.size != 0 %}
            {% include video-player.html filename = path title = video.title %}
          {% endif %}
        {% endfor %}
      </media-gallery>

      {{ content }}
    </div>
  </div>
</article>
