---
layout: default
---
<div class="container">
  <div>
    <div class="post-content">
      
      <h1 class="h-alpha">
        <span class="h-delta">How to test</span><br/>
        {{ page.title | escape }}
      </h1>

      <nav aria-label="How to test">
        <ul class="cards cards-how-to-test">
          <li class="card emphasized">
            <a href="/how-to-test/keyboard-focus/" class="icon-keyboard">
              <span class="title">Keyboard &amp; focus</span>
            </a>
          </li>
          <li class="card emphasized">
            <a href="/how-to-test/screen-readers/" class="icon-speaker" >
              <span class="title">Screen readers</span>
            </a>
          </li>
        
          
          <!-- <li class="card emphasized">
            <a href="/how-to-test/image/" class="icon-image">
              <span class="title">Images</span>
            </a>
          </li> -->
          <!-- <li class="card">
            <a href="/how-to-test/multimedia/" class="icon-video">
              <span class="title">Multimedia</span>
            </a>
          </li> -->

          <!-- <li class="card">
            <a href="/how-to-test/content-structure/" class="icon-structure">
              <span class="title">Content Structure</span>
            </a>
          </li> -->
         
          <li class="card emphasized">
            <a href="/how-to-test/form/" class="icon-form">
              <span class="title">Forms & input fields</span>
            </a>
          </li>

          <li class="card">
            <a href="/how-to-test/link-button/" class="icon-link">
              <span class="title">Links &amp; buttons</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/color-contrast/" class="icon-contrast">
              <span class="title">Color &amp; contrast</span>
            </a>
          </li>
          
          <!-- <li class="card">
            <a href="/how-to-test/table/" class="icon-table">
              <span class="title">Tables</span>
            </a>
          </li> -->
          <!-- <li class="card">
            <a href="/how-to-test/page-title-language/" class="icon-browser">
              <span class="title">Page title / language</span>
            </a>
          </li> -->
          <!-- <li class="card">
            <a href="#" class="icon-dialog">
              <span class="title">Modal dialogs</span>
            </a>
          </li> -->
          
          <li class="card">
            <a href="/how-to-test/not-sure-if-it-is-an-issue/" class="icon-alert">
              <span class="title">Not sure if it is an issue?</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
<div class="container post-content narrow">
  {{ content }}
</div>

