---
layout: default
---

<div class="container">
  <div class="css-grid-container">
    <div class="row">
		<div class="col-3">
      <nav aria-label="Secondary">
        <ul class="secondary-nav">
          <li>
            <a
              {% if page.url== "/how-to/" %} aria-current="page" {% endif %}
              {% if page.url == "/how-to/" %} class="current" {% endif %}
              href="{{ site.baseurl }}/how-to/">How to Test
            </a>
            <ul>
              <li>
                <a
                  {% if page.url== "/how-to/keyboard-and-focus/" %} aria-current="page" {% endif %}
                  {% if page.url == "/how-to/keyboard-and-focus/" %} class="current" {% endif %}
                  href="{{ site.baseurl }}/how-to/keyboard-and-focus/">Keyboard & Focus
                </a>
              </li>
              <li>
                <a
                  {% if page.url== "/how-to/screen-readers/" %} aria-current="page" {% endif %}
                  {% if page.url == "/how-to/screen-readers/" %} class="current" {% endif %}
                  href="{{ site.baseurl }}/how-to/screen-readers/">Screen Readers
                </a>
              </li>
              <li>
                <a href="#">Color & Contrast</a>
              </li>
              <li>
                <a href="#">Links & Buttons</a>
              </li>
              <li>
                <a href="#">Images</a>
              </li>
              <li>
                <a href="#">Multimedia</a>
              </li>
              <li>
                <a href="#">Content Structure</a>
              </li>
              <li>
                <a href="#">Forms</a>
              </li>
              <li>
                <a href="#">Tables</a>
              </li>
              <li>
                <a href="#">Page Titles / Language</a>
              </li>
              <li>
                <a href="#">Dialogs</a>
              </li>
            </ul>
          </li>
          <li>
            <a
              {% if page.url== "/how-to/not-sure-if-it-is-an-issue/" %} aria-current="page" {% endif %}
              {% if page.url == "/how-to/not-sure-if-it-is-an-issue/" %} class="current" {% endif %}
              href="{{ site.baseurl }}/how-to/not-sure-if-it-is-an-issue/">Not sure if it is an issue?
            </a>
          </li>
          <li>
            <a
              {% if page.url== "/testing-tools/" %} aria-current="page" {% endif %}
              {% if page.url contains "testing-tools/" %} class="current" {% endif %}
              href="{{ site.baseurl }}/testing-tools/">Testing Tools
            </a>
          </li>
        </ul>
      </nav>
		</div>
		<div class="col-9">
        <div class="post-content">
          {{ content }}
        </div>
		</div>
	</div>
  </div>
</div>