.MagentaA11y--about-container-wrapper {
  width: 100%;
}

.MagentaA11y--hero-container {
  padding-top: 72px;
  margin: 0 auto;
  max-width: 800px;

  h1 {
    line-height: 0.5;

    @media (min-width: 768px) {
      line-height: 1.2;
      margin-bottom: 25px;
    }
  }

  p {
    margin-bottom: 50px;
  }

  span {
    text-align: left !important;
  }

  img {
    width: 100%;
  }
}


.MagentaA11y--about-container {
  background-color: var(--color-background-secondary);

   > div {
     margin: 0 auto;
     max-width: 800px;
     display: flex;
     padding: 40px 20px 0;
     justify-content: space-between;
     flex-direction: column;

     @media (min-width: 768px) {
       flex-direction: row;
       padding: 40px 0 0;
     }

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      padding-top: 10px;
      margin-bottom: 40px;

      @media (min-width: 768px) {
        width: 50%;
      }

      &:first-child {
        margin-right: 40px;
      }

      h2 {
        margin-bottom: 10px;
      }

      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.MagentaA11y--contact-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 0;

  h3 {
    font: var(--magentaa11y-typeset-display-sm-strong);
  }
}
