$color-text: #323234;

$color-brand-secondary: #222;
$color-gray-xtra-light: #f9f9f9;
$color-gray-light: #d4d4d4;
$color-gray: silver;
$color-gray-xtra-dark: #323234;
$color-gray-dark: #676767;
$color-border-gray: #ccc;
$color-input-border: #686868;
$color-focus: #6692F0;
$color-focus: $color-brand-secondary;
$color-disabled: #ccc;


$color-example: #eef;

$color-gold: #ffcc33;
$color-green: #76D671;
$color-green-dark: #078A14;

$color-alert: $color-gold;

// WCAG 2.2 specifies states should meet min contrast requirements
$color-button-primary: $color-brand-primary;
$color-button-hover: darken($color-button-primary,3);
$color-button-hover-border: $color-text;
$color-button-focus: darken($color-button-primary,5);
$color-button-active: lighten($color-button-primary,5);
$color-button-disabled: $color-disabled;

// Specifics

$color-toggle-track-off: $color-gray-light;


// Reset Styles

// Error colors 
$color-error-red: #D20D00;

// TDDS Colors
$tdds-critical-300: #D20D00;
$tdds-critical-100: #FFEDEC;
$tdds-caution-200: #F8A50C;
$tdds-caution-200-darkened: #CC8400;
$tdds-caution-100: #FFF3DE;
$tdds-success-100: #E6FCE8;
$tdds-success-300: #008110;