//@mixin break($breakpoint) {
//  @media (min-width: $breakpoint) {
//    @content;
//  }
//}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); // Remove iOS highlight that interferes with ripple effect
}

@mixin break($min,$max:null) {
  @if $min and $max {
    @media only screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
  @else if $min not $max {
    @media only screen and (min-width: $min) {
      @content;
    }
  }
  @else if $max not $min {
    @media only screen and (max-width: $max) {
      @content;
    }
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin shade($percentage) {
  position: relative;
  z-index: 2;

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba($color-brand-primary,$percentage);
    z-index: 0;
  }

  * {
    position: relative;
    z-index: 3;

  }

}

@mixin linear-gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.focused {
  outline: .25rem solid rgba($color-focus, 1);
  outline-offset: 0rem;
  transition: .2s;

  &:hover {
    outline: none;
  }
}
.active {
  transition: .2s;
}

.inert,
[inert] {
  display: none;
}

@mixin focus {
  &:active {
    @extend .active;
  }
  &:focus-visible {
    @extend .focused;
  }
}


@mixin ripple($background: #fff, $ripple: #eee, $position-x: 10%, $position-y: center) {
  background-position: $position-x $position-y;
  transition: background 1s;
  &:hover {
    background: $background radial-gradient(circle at $position-x $position-y, transparent 1%,  $background 1%) $position-x $position-y/15000%;
  }
  &:active {
    background-color: $ripple;
    background-size: 100%;
    transition: background 0s;
  }
}
